.of-bill-bg{
    height:100%;
    width:100%;
    background-color:#f0f0f0;
    color: #515151 ;
}
.of-bill-item-box{
    background-color: #fff;
    padding:13px 10px 14px 12px;
    border-bottom:1px #e6e6e6 solid;
    margin-bottom:10px;
}
.of-bill-item-box h1{
    font-size:13px;
    font-weight: normal;
}
.of-bill-Pay{
    background-color: #fff;
    padding:10px 10px 10px 12px;
    border-bottom:1px #e6e6e6 solid;
}
.of-bill-Pay div{
    font-size:12px;
}
.of-bill-Pay b{
    padding:1px;
    background-color: #ff4f4f;
    color:#fff;
    font-size:10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.of-bill-Pay p{
    margin-top:5px;
}
.of-bill-Pay p span{
    font-weight: lighter;
    color:#ff4f4f;
    font-size:23px;
    display: block;
    float:left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#payBillNOW.nopaid{
    color:#fff;
    font-size:12px;
    padding:3px 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    float:right;
    background-color: #16cd9b;
    text-align: center;
}
#payBillNOW.Paid{
    color:#fff;
    font-size:12px;
    padding:3px 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    float:right;
    background-color: #9f9f9f;
    text-align: center;
}
.of-bill-info{
    padding:2px 10px 12px 12px;
    background:#fff;
    border-bottom:1px #e6e6e6 solid;
}
.of-bill-info div {
    padding-top: 10px;
    font-size: 12px;
}
.of-bill-info div span {
    float:left
}
.of-bill-info div i {
    float:right
}
.of-bill-info div i em{
    display: inline-block;
    color:#ff4f4f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.of-bill-item-info{
    margin-top:10px;
    padding:10px;
    background-color: #f0f0f0;
}
.of-bill-item-dl{
    width:100%;
    font-size:12px;
}
.of-bill-item-dl dt{
    width:40%;
    float:left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.of-bill-item-dl dd{
    width:50%;
    float:right;
    text-align: right;
}
.of-bill-item-dl dd i{
    color:#ff4f4f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.of-bill-item-date{
    padding:5px 0 8px 0 ;
    color: #adadad ;
    font-size:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.of-bill-payback{
    background: #fff;
    padding:13px 20px 12px 10px;
    border-bottom:1px #e6e6e6 solid;
    font-size:13px;
}
.of-bill-payback i{
    display: block;
    float: right;
    width: 8px;
    height: 14px;
    background: url(/images/icon/icon_arrow_right.png);
    background-size: 8px 14px;
}
.of-bill-payback span{
    float:left
}