/***
    订单列表样式表
    build by rwson @2015-08-14
***/

.body{
    background: #f2f2f2;
}

.order-top{
    padding: 1.4rem 1rem 1rem 1rem;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

.order-num,
.create-time{
    /*font-size: 1.5rem;*/
    font-size: 1.2rem;
    color: #515151;
    float: left;
}

.create-time{
    float: right;
}

.order-info{
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

.order-info-detail{
    padding: 0 0 0 1rem;
}

.order-info-detail-detail{
    overflow: hidden;
    height: auto!important;
}

.order-img-detail{
    width: 5.5rem;
    height: 5.5rem;
   float:left;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.order-img-detail img{
    width: 5.5rem;
    height: 5.5rem;
}

.order-info-name{
    font-size: 1.4rem;
    color: #515151;
}

.decrease-icon{
    position: relative;
    padding: 0 0 0 1.25rem;
    width: 18rem;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.decrease-icon-detail:before{
    content: "减";
    background: #ff5959;
    font-size: 0.8rem;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    position: absolute;
    left: 0;
    top: 0.5rem;
    color: #fff;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    border-radius: 0.6rem;
    text-align: center;
}

.info-arg{
    color: #adadad;
    font-size: 1.1rem;
    line-height: 2.25rem;
}

.order-info-detail .price p{
    color: #515151;
    font-size: 1.3rem;
    float: left;
}

.info-price{
    margin: 0 1.75rem 0 1rem;
}

.price-red{
    color: #ff5959;
}

.price .info-del-price{
    color: #adadad;
}

.pay-detail{
    padding: 0 1rem 2rem;
    border-bottom: 1px solid #e6e6e6;
}

.info-item{
    overflow: hidden;
    padding: 0.75rem 0;
}

.info-name{
    font-size: 1.4rem;
    float: left;
    color:#515151
}

.info-detail{
    font-size: 1.5rem;
    float: right;
    text-align: right;
}

.first-pay .info-detail,
.month-pay .info-detail,
.off-price .info-detail{
    color: #ff5959;
}

.first-pay-off{
    color: #515151;
}

.order-state .info-name{
    float: none;
}

.state-bar{
    width: 100%;
    height: 4.75rem;
    padding: 1rem 0 0 0;
    position: relative;
}

.state-bar:before{
    content: "";
    width: 100%;
    border-bottom: 1px solid #c5c5c5;
    position: absolute;
    left: 0;
    top: 3.5rem;
    z-index: -1;
}

.state-item{
    width: 25%;
    text-align: center;
    float: left;
}

.icon{
    display: block;
    width: 7.55rem;
    height: 3.35rem;
    margin: 0 auto;
    background: url(../../images/order/gray-logos.png) no-repeat 0 0;
    background-size: 7.55rem 3.25rem;
}

.text-state{
    font-size: 1.3rem;
    line-height: 2rem;
    color: #8a8a8a;
}

.passed .icon{
    background: url(../../images/order/light-logos.png) no-repeat 0 0;
    background-size: 7.55rem 3.25rem;
}

.passed .text-state{
    color: #515151;
}

.re-buy{
    padding: 1.3rem 1rem;
    height: 5.6rem;
    border-top: 1px solid #e6e6e6;
}

.re-buy-btn,
.re-buy-btn:active,
.re-buy-btn:visited,
.re-buy-btn:hover{
    padding: 0 1.85rem;
    line-height: 3rem;
    background: #15c690;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: #fff;
    float: right;
}


.order-detail-price{
    overflow: hidden;
    padding: 0.5rem 0 0 0;
}

.order-detail-price p{
    float: left;
    font-size: 1.2rem;
}