/***
    个人中心样式表
    build by rwson @2015-08-14
***/

.body{
    background: #f2f2f2;
}

.order-item{
    border: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    margin: 0 0 1rem 0;
}

.order-item-top{
    padding: 1.25rem 1rem;
    border-bottom: 1px solid #e6e6e6;
    color: #515151;
    overflow: hidden;
}

.order-item-top a{
    display: block;
    width: 100%;
    height: 100%;
}

.orde-num-info{
    float: left;
    position: relative;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.orde-num-info .num{
    padding: 0 0 0 1rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    vertical-align: bottom;
}

.arrow{
    display: inline-block;
    margin-top:0.3rem;
    width: 0.7rem;
    height: 1.3rem;
    background: url(../../images/user_center/arrow_right.png) no-repeat;
    background-size: 100%;
    float: right;
}

/* 审核中 */
.checking .orde-num-info:after{
    content: "审核中";
    position: absolute;
    right: -5rem;
    top: -0.2rem;
    background: #16cd9b;
    color: #fff;
    padding: 0.2rem 0.25rem;
}

/* 已发货 */
.no-paid-item .orde-num-info:after{
    content: "待支付";
    position: absolute;
    right: -5rem;
    top: -0.2rem;
    background: #16cd9b;
    color: #fff;
    padding: 0.2rem 0.25rem;
}

/* 交易成功 */
.success-item .orde-num-info:after{
    content: "交易成功";
    position: absolute;
    right: -6rem;
    top: -0.2rem;
    background: #16cd9b;
    color: #fff;
    padding: 0.2rem 0.25rem;
}

/* 发货中 */
.sending .orde-num-info:after{
    content: "发货中";
    position: absolute;
    right: -5rem;
    top: -0.2rem;
    background: #16cd9b;
    color: #fff;
    padding: 0.2rem 0.25rem;
}

/* 审核失败 */
.charging-failed .orde-num-info:after{
    content: "审核失败";
    position: absolute;
    right: -6rem;
    top: -0.2rem;
    background: #16cd9b;
    color: #fff;
    padding: 0.2rem 0.25rem;
}

.back-charging .orde-num-info:after{
    content: "退款审核中";
    position: absolute;
    right: -7.5rem;
    top: -0.2rem;
    background: #16cd9b;
    color: #fff;
    padding: 0.2rem 0.25rem;
}

/* 交易关闭 */
.closed .orde-num-info:after{
    content: "交易关闭";
    position: absolute;
    right: -6rem;
    top: -0.2rem;
    background: #16cd9b;
    color: #fff;
    padding: 0.2rem 0.25rem;
}

.order-item-center{
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    position: relative;
}

/* 商品图片 */
.item-img{
    width: 5.5rem;
    height: 5.5rem;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.item-img img{
    width: 5.5rem;
    height: 5.5rem;
}

.item-info{
    width: 32rem;
    padding: 0 0 0 6rem;
}

.info-details-name,
.info-detail-args,
.info-detail-price{
    clear: both;
}

/* 信息部分样式 */

.item-info p{
    font-size: 1.3rem;
    line-height: 1.7rem;
}

.info-details-name p:nth-of-type(1),
.info-detail-args p:nth-of-type(1),
.info-detail-price p:nth-of-type(1){
    float: left;
}

.info-details-name p:nth-of-type(2),
.info-detail-args p:nth-of-type(2){
    float: right;
}

.info-details-name p{
    font-size: 1.5rem;
}

.info-details-name p:nth-of-type(1){
    width: 14rem;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.info-details-name p.special-icon{
    width: 16rem;
}

.info-detail-args p,
.info-detail-price p{
    color: #adadad;
}

.info-detail-args p del{
    line-height: 2rem;
}

.info-detail-args p:nth-of-type(1){
    padding: 0.5rem 0;
}

p.special-icon{
    position: relative;
    padding: 0 0 0 1.25rem;
    line-height: 1.3rem;
}

/* 特字 */

p.special-icon:before{
    content: "特";
    background: #ff5959;
    font-size: 0.9rem;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
    border-radius: 0.6rem;
    text-align: center;
}

/* 信息底部 */
.order-item-bottom{
    padding: 0.5rem 1rem;
    overflow: hidden;
}

/* 按钮 */
.order-btn{
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    color: #515151;
    border: 1px solid #e6e6e6;
    float: right;
    margin: 0 0 0 1rem;
}

.confirm-btn,
.confirm-pay-btn{
    color: #16cd9b;
}

/* 空订单 */

.empty-order{
    width: 18rem;
    height: 14rem;
    background: url(../../images/order/empty-order.png) no-repeat 0 0;
    background-size: 18rem 10.7rem;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -5.35rem 0 0 -9rem;
}
.empty-sale{
    width: 150px;
    height: 150px;
    background: url(/images/orchen.png) no-repeat 40px 0;
    background-size: 75px 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
}
.empty-sale:after{
   content:"橘鸡没有找到您想要的商品~";
    display: block;
    padding-top:100px;
    color: rgba(122, 122, 122, 0.69);
    text-align: center;
    font-size:15px
}