.of-category-input{
    width:100%;
    padding:10px;
    background: #fff;
    border-bottom:1px #e9e9e9 solid;
}
.of-category-input input{
    font-size:12px;
    background-color: #f0f0f0;
    padding:5px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: block;
    width:100%;
}
.of-category-main-nav{
    float:left;
    width:26%;
}
.of-category-list{
    display: block;
    width:100%;
    height:auto;
    padding-bottom:30px;
}
.of-category-list li{
    display: list-item;
    font-size:13px;
    padding:14px 0 ;
    width:inherit;
    text-align:center;
    border-bottom:#e9e9e9 1px solid;
}
.of-category-list li.active{
    color:#16cd9b;
    background: #fff;
}
.of-category-list li.disable{
    color:#515151;
    background: #f0f0f0;
    border-right:#e9e9e9 1px solid;
}
.of-category-main{
    padding:0 10px 60px 0;
}
.of-category-main-wrapper{
    width:74%;
    padding:10px 0 0 10px;
    overflow:hidden;
}
.of-category-main-poster{
    width:100%;
    height:auto
}
.of-category-main-poster img{
    width:100%;
    height:auto
}
.of-category-main-item{
    margin-top:6px;
   width:100%;
}
.of-category-main-item li{
    float:left;
    width:48%;
    padding-top:10px;
    padding-bottom:5px;
    background: #f0f0f0;
    text-align: center;
    margin-bottom:8px;
}
.of-category-main-item li img{
    width:32px;
}
.of-category-main-item li span{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding-top:3px;
}
.of-category-main-item li.splitline{
    margin-right:4%
}
