
<!--头部-->
<div class="of-header green clear-float">
    <a class="of-header-person" href="#/login"></a>
    <img class="of-logo-icon" src="/images/logo.png">
    <a class = "of-header-search" href="#/login"></a>
</div>
<!--底部导航栏-->
<div class="of-bottom-bar" id="navigationBar">
    <div>
        <a href="#/main">
            <i class="of-icon-bottom of-icon-home active"></i>
            首页
        </a>
    </div>
    <div >
        <a href="#/sale/category">
            <i class="of-icon-bottom of-icon-classify "></i>
            商品分类
        </a>
    </div>
    <div >
        <a href="#/sale/discount">
            <i class="of-icon-bottom of-icon-hot"></i>
            热卖
        </a>
    </div>
    <div>
        <a href="#/user/center">
            <i class="of-icon-bottom of-icon-person"></i>
            我的
        </a>
    </div>
    <div >
        <a href="">
            <i class="of-icon-bottom of-icon-heart "></i>
            帮助
        </a>
    </div>
</div>
<!--滑动广告-->

<div class="swiper-container">
    <div class="swiper-wrapper" style="margin-top:0" >

        <div class="swiper-slide">
            <img class="lazy swiper-img-size" src="/images/ad_banner/banner.png" >
        </div>

        <div class="swiper-slide">
            <img class="lazy swiper-img-size" src="/images/ad_banner/banner.png">
        </div>

        <div class="swiper-slide">
            <img class="lazy swiper-img-size" src="/images/ad_banner/banner.png">
        </div>


    </div>
    <div class="swiper-pagination resetPagination"></div>
</div>
<!--分类图标＋文字-->
<div class="of-icon-class-box">
    <div class="of-icon-class-item" ng-model="apple" ng-init="apple='苹果手机'">
        <a href="#/sale/list/{{apple}}">
            <img src="/images/icon_main/iphone.png"/>
            苹果手机
        </a>
    </div>
    <div class="of-icon-class-item" ng-model="android" ng-init="android='安卓手机'">
        <a href="#/sale/list/{{android}}">
            <img src="/images/icon_main/android.png"/>
            安卓手机
        </a>
    </div>
    <div class="of-icon-class-item" ng-model="camera" ng-init="camera='摄影摄像'">
        <a href="#/sale/list/{{camera}}">
            <img src="/images/icon_main/camera.png"/>
            摄影摄像
        </a>
    </div>
    <div class="of-icon-class-item"  ng-model="branchPC" ng-init="branchPC='品牌电脑'">
        <a hre="#/sale/list/{{branchPC}}">
            <img src="/images/icon_main/brand_pc.png"/>
            品牌电脑
        </a>
    </div>

    <div class="of-icon-class-item"  ng-model="branchPC" ng-init="mobileCollection='手机配件'">
        <a href="#/sale/list/{{mobileCollection}}">
            <img src="/images/icon_main/mobile_collection.png"/>
            手机配件
        </a>
    </div>
    <div class="of-icon-class-item" ng-model="laptopPC" ng-init="laptopPC='平板电脑'">
        <a href="#/sale/list/{{laptopPC}}">
            <img src="/images/icon_main/laptop_pc.png"/>
            平板电脑
        </a>
    </div>
    <div class="of-icon-class-item"  ng-model="digits" ng-init="digits='潮流数码'">
        <a href="#/sale/list/{{digits}}">
            <img src="/images/icon_main/digital.png"/>
            潮流数码

        </a>
    </div>
    <div class="of-icon-class-item" ng-model="services" ng-init="services='充值缴费'">
        <a href="#/sale/list/{{services}}">
            <img src="/images/icon_main/service.png"/>
            充值缴费
        </a>
    </div>
</div>
<!--分割行-->
<div class="split-line"></div>
<!--限时特卖-->
<div class="of-special-sale">
    <!--header部分，包括类目名和更多的链接-->
    <div class="of-class-recommand-header">
        限时特卖
        <a href="#/sale/discount">更多</a>
    </div>
    <!--图文简述-->
    <div class="of-special-sale-body" ng-repeat="discountItem in mainData.discount">
        <a href="#/sale/detail/{{discountItem.id}}">
            <span>{{discount.name}}</span>
            <div class="of-hot-container">
                <div class="of-special-sale-item">
                    <div class="of-special-sale-banner">
                        <p>
                            <i>直降</i>
                            <i>800</i>
                        </p>
                    </div>
                </div>
                <img src="" width="32px">
            </div>
        </a>
    </div>
</div>
<div class="of-ad">
    <img class="lazy" src="/images/ad_banner/hot_banner.png">
</div>

<!--图片型广告位-->
<!--分割行-->
<div class="split-line"></div>
<!--商品分类-->
<div id="categoryList" >
    <div class="of-class-recommand-box" ng-repeat="category_list in mainData.category">
        <!--header部分，包括类目名和更多的链接-->
        <div class="of-class-recommand-header" ng-model="category_list.item.id">
            {{category_list.item.value}}
            <a href="#/sale/list/{{category_list.item.value}}/{{category_list.item.id}}">更多</a>
        </div>
        <div class="of-class-recommand-body">
            <div class="swiper-wrapper">
                <div class="of-class-recommand-item swiper-slide" ng-repeat="list_detail in category_list.products track by $index">
                    <a href="#/sale/detail/{{list_detail.id}}">
                        <img src="/images/mobile_demo.png" />
                        <div class="of-name">
                            {{list_detail.title}}
                        </div>
                        <div class="of-price">
                            <span>¥ {{transferPrice(list_detail.price)}}</span>X24
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--图文简述-->
        <div class="split-line"></div>
    </div>

</div>

<div class="of-ad of-bottom">
    <img class="lazy" src="/images/ad_banner/ad_banner.png">
</div>

<script type="text/javascript-lazy">
 require(['util/swiper_'],function(swiper){
   swiper.div();
   swiper.picture();
 })
</script>
