
<!--头部-->
<div class="of-header green clear-float">
    <span class="of-header-person" ng-click="mainCheck()"></span>
    <img class="of-logo-icon" src="/images/logo.png">
    <a class = "of-header-search" href="/sale/search"></a>
</div>
<!--底部导航栏-->
<div ng-include="'/views/header_bottom/bottom.html'"></div>
<!--滑动广告-->

<div class="h-52"></div>
<div class="swiper-container">
    <div class="swiper-wrapper" style="margin-top:0" >

        <div class="swiper-slide">
            <img class="lazy swiper-img-size" src="/images/ad_banner/banner.png" >
        </div>

        <div class="swiper-slide">
            <img class="lazy swiper-img-size" src="/images/ad_banner/ad_banner.png">
        </div>

        <div class="swiper-slide">
            <img class="lazy swiper-img-size" src="/images/ad_banner/banner.png">
        </div>


    </div>
    <div class="swiper-pagination resetPagination"></div>
</div>

<!--分类图标＋文字-->
<div class="of-icon-class-box">

    <div class="of-icon-class-item"  ng-repeat="category_list in mainData.category">
        <a href="/sale/list/{{category_list.item.value}}/{{category_list.item.id}}">
            <img src="/images/icon_main/{{getPic(category_list.item.value)}}.png"/>
            {{category_list.item.value}}
        </a>
    </div>

</div>
<!--分割行-->
<div class="split-line"></div>
<!--限时特卖-->
<div class="of-special-sale">
    <!--header部分，包括类目名和更多的链接-->
    <div class="of-class-recommand-header">
        限时特卖
        <a href="/sale/discount">更多</a>
    </div>
    <!--图文简述-->
    <div class="of-special-sale-body" ng-repeat="discountItem in mainData.discount">
        <a href="/sale/detail/{{discountItem.id}}">
            <span>{{discount.name}}</span>
            <div class="of-hot-container">
                <div class="of-special-sale-item">
                    <div class="of-special-sale-banner">
                        <p>
                            <i>直降</i>
                            <i>800</i>
                        </p>
                    </div>
                </div>
                <img src="" width="32px">
            </div>
        </a>
    </div>
</div>
<div class="of-ad">
    <img class="lazy" src="/images/ad_banner/hot_banner.png">
</div>

<!--图片型广告位-->
<!--分割行-->
<div class="split-line"></div>
<!--商品分类-->
<div id="categoryList" >
    <div class="of-class-recommand-box" ng-repeat="category_list in mainData.category">
        <!--header部分，包括类目名和更多的链接-->
        <div class="of-class-recommand-header" ng-model="category_list.item.id">
            {{category_list.item.value}}
            <a href="/sale/list/{{category_list.item.value}}/{{category_list.item.id}}">更多</a>
        </div>
        <div class="of-class-recommand-body fuck-test">
            <div class="swiper-wrapper">
                <div class="of-class-recommand-item swiper-slide" ng-repeat="list_detail in category_list.products track by $index">
                    <a href="/sale/detail/{{list_detail.id}}">

                        <img ng-src="{{prefuri+list_detail.thumb.bigUrl}}" />
                        <div class="of-name">
                            {{list_detail.title}}
                        </div>
                        <div class="of-price">
                            <span>¥ {{transferPrice(list_detail.price)}}</span>X24
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--图文简述-->
        <div class="split-line"></div>
    </div>

</div>

<div class="of-ad of-bottom">
    <img class="lazy" src="/images/ad_banner/ad_banner.png">
</div>



