/***
    取消订单原因信息样式表
    build by rwson @2015-08-18
***/

.cancel-tip{
    padding: 1.5rem 1rem 1rem 1rem;
    border-bottom: 1px solid #e6e6e6;
}

.cancel-tip-text{
    height: 4.75rem;
    padding: 0 0 0 4.75rem;
    position: relative;
}

.cancel-tip-text:before{
    content: "";
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    background: url(../../images2/order/tip-reason.png) no-repeat 0 0;
    background-size: 3.75rem 3.75rem;
    position: absolute;
    left: 0;
    top: 0;
}

.tip-title{
    font-size: 1.5rem;
    padding: 0 0 0.5rem 0;
    color: #515151;
}

.tip-texts{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #adadad;
}

.list-tip{
    padding: 1rem;
    font-size: 1.5rem;
    color: #515151;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.reason-item{
    padding: 0 1rem;
    border-bottom: 1px solid #e6e6e6;
}

.reason-each{
    font-size: 1.4rem;
    padding: 1.5rem 0;
}

.checked-reason p{
    color: #ff5959;
}

.checked-reason p:after{
    content: url(../../images2/order/selected.png);
    width: 0.9rem;
    height: 0.6rem;
    margin: 0 0 0 1.65rem;
}

.sub-reason-btn{
    display: block;
    width: 30rem;
    height: 3.5rem;
    font-size: 1.8rem;
    color: #fff;
    line-height: 3.5rem;
    text-align: center;
    background: #16cd9b;
    -webkit-border-radius: 1.75rem;
    -moz-border-radius: 1.75rem;
    -ms-border-radius: 1.75rem;
    -o-border-radius: 1.75rem;
    border-radius: 1.75rem;
    margin: 1rem auto 0;
}
