
.hot-sale-main{
    background: #fff;
}
.sale-item-title{
   padding:6px;
    width:100%;
    border-bottom:1px solid #e6e6e6;
    font-size:12px;
}
.sale-sort-option{
    width:33%;float:left;text-align:center;
}
.sale-sort-border{
    border-right:1px #ccc solid;
}
.item-sale-list{
    width:94%;
    margin:auto 3%;
    padding:8px 0;
    background: #fff;
    border-bottom:1px #e6e6e6 solid;
}
.item-list-img{
    width:30%;
    margin-left:2%;
    float:left;
    text-align: center;
}
.item-hot-list-detail{
    float:left;
    width:67%;
}
.item-hot-list-detail .item-new-sale{
    float:right;
    border:1px solid #15c690;
    color:#15c690;
    font-size:10px;
    margin-right:3px;
    padding:1px 1px 0 1px ;
}
.item-hot-list-detail .item-hot-sale{
    float:right;
    border:1px solid #ff1502;
    color: #ff1502;
    font-size:10px;
    padding:1px 1px 0 1px ;
}
.item-hot-list-detail h1{
    padding:3px 3px 0.6em 3px;
    font-size:12px;
    display: block;
    text-overflow:ellipsis;
    overflow: hidden;
    font-weight:500
}
.item-price{
    font-size:10px;
    color: #b0b0b0;
}
.total-price{
    font-size:16px;
}
.total-price i{
    font-style: normal;
    color: #ff1502;
}
.total-price h2{
    font-style: normal;
    font-size:13px;
    display: inline;
}
.total-price span{
    font-size:10px;
    display: inline-block;
    vertical-align: middle;
    color: #000000;
}