.header-border{
    border-bottom:solid 1px #c9c9c9;
    padding:1rem;
}
.item-header-left{
}
#headerTitle {
    text-align: center;
    font-weight: 400;
    color: #474747;
    overflow: hidden;
    font-size: 1.6rem;
}
.item-main{
    width:100%;
    overflow: hidden;
    text-align: center;
}
#sliderContainer{
    width:320px;
    margin:16px auto;
    overflow: hidden;
}
.img-slider{
    margin-top:1rem !important;
    padding-bottom:2rem !important;
    background:inherit;
}
.img-slider img{
    width:120px;
    text-align: center;
    height:auto;
    vertical-align: top;
}
.pagination-style{
    bottom:0.5rem !important;
}
#layer-close{
    position: absolute;
    right: 13px;
    top: 13px;
    width: 14px;
    height: 12px;
    background: url(../../images/item_detail/logo_compo.png) 0px -12px;
    background-size: 160px 100px;
    z-index:100000;
}
.item-list{
    width:100%;
    padding:0 1rem;
    box-sizing: border-box;
    /*border-bottom: solid 1px #eee;*/
}
.list-1{
    padding: 1rem .2rem;
    position: relative;
    border-bottom: solid 1px #eee;
}
.list-1 p{
    color:#333;
    text-align: left;
    font-size: 1.5em;
}
.list-3{
    padding:5px;
}
.font-f2{
    color:#ff6100;
    font-size:1.4em
}
.font-f3{
    font-size:1.8rem;
}
.item-list-service{
    width:100%;
}
.item-list-service h1{
    height: 1rem;
    background: #f1f1f1;
    margin: 0 -1rem;
    border-top: 1px solid #c9c9c9;
}
.item-list-service p {
    font-size: 1.2rem;
    color: #474747;
    border-bottom: 1px solid #e9e9e9;
    line-height: 3.5rem;
}
.item-serve-list{
    width: 100%;
    overflow: hidden;
    padding: 1.5rem 0;
    box-sizing: border-box;
}
.item-serve-list li{
    float:left;
    width:25%;
}
.item-serve-list .name {
    text-align: center;
    color: #666;
    font-size: 1.5rem;
    display: block;
    line-height: 2.5rem;
}
.icon-1, .icon-2, .icon-3, .icon-4 {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    margin: 0 auto;
}
.item-list-bg h1{
    height: 1rem;
    background: #f1f1f1;
    border-top: 1px solid #c9c9c9;
}
.item-detail-block{
    width: 100%;
    padding: 0 3%;
    background-color: #fff;
    border-bottom: 1px solid #c9c9c9;
    box-sizing:border-box;
    margin-bottom:70px;
}
.block-link{
    display: block;
    width:100%;
    height: 4.5rem;
    line-height: 4.5rem;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border-bottom: solid 1px #e6e6e6;
    font-size:1.8rem;
}
.border-last{
    border:none;
}
.item-buy{
    padding: 1rem 0;
    border-top: 1px solid #c9c9c9;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1002;
    background-color: #fff;
}
.item-buy-button{
    background-color: #ff6100;
    height: 3.54rem;
    font-size: 2rem;
    line-height: 3.54rem;
    padding: 0!important;
    width: 100%;
    text-align: center;
    border-radius: 3px;
    border: 0;
    outline: 0;
    color:#fff
}
.item-buy-div{
    padding: 0 1rem;
}
.item-frame-background{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background: #000;
    display: block;
    z-index: 1000;
    width: 100%;
    overflow-y: hidden;
    height: 1162px;
}
.item-bid-order{
    position: fixed;
    height: 70%;
    display: block;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    right: 0;
    z-index: 1001;
    background: #fff;
}
.item-bid-good{
    padding: 1rem;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid #dcdcdc;
}
.item-bid-img{
    width: 7rem;
    height: 7rem;
    padding: .5rem;
    border: 1px solid #c9c9c9;
}
.item-bid-item-detail{
    width: 67%;
    margin-left: 1rem;
}
.item-bid-item-detail p{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: .6rem;
}
.font-f4{
    color: #ff6100;
    font-size:1.2rem;
}
.font-f5{
    color: #ff6100;
    font-size:1.7rem;
}
.item-bid-num{
    padding-top: 1rem;
    overflow: hidden;
    padding-bottom: 1rem;
    border-bottom: solid 1px #eee;
}
.item-bid-form{
    margin: 0 auto;
    padding: 0 1rem;
    border-top: 0;
    box-sizing:border-box;
}
.item-bid-count{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px #eee;
}
.item-bid-count p{
    font-size:1.2rem;
    color:#474747;
}
.number-wrap{
    width: 46%;
}
.number-subtrack, .number-add {
    width: 3rem;
    height: 3rem;
    border: 1px solid #c9c9c9;
    border-radius: .2rem;
    vertical-align: top;
    font-size: 3rem;
    line-height: 2.9rem;
    text-align: center;
    color: #999;
}
.number-input {
    padding: 0!important;
    line-height: 2.5rem;
    border: 1px solid #c9c9c9;
    width: 4.2rem;
    font-size: 2rem;
    color: #333;
    text-align: center;
}
.number-add.active {
    border: 1px solid #00bdd5;
    color: #00bdd5;
}
.item-bid-paybox{
    margin-top:1rem;
    overflow: hidden;
}
.item-pay-ration{
    font-size:1.2rem;
}
.number-box{
    width: 100%;
    padding: 0 .5rem;
}
#initialPaymentTip{
    font-size:1.4rem;
    color:#666;
}
.payment-ratio{
    width: 23%;
    font-size: 1.2rem;
    color: #474747;
    cursor: auto;
    border: solid 1px #c9c9c9;
    background-color: #fff;
    height: 2.7rem;
    line-height: 2.6rem;
}
.item-pay-month{
    margin-top: 1rem;
    font-size:1.2rem;
}
#installmentMonth li{
    border: solid 1px #ccc;
    color: #474747;
    float: left;
    margin: 0.2rem 0.1px;
    text-align: center;
    cursor: pointer;
    padding: .8rem 4px;
    font-size: 1.2rem;
    width: 6rem;
}
.month-selected{
    color: #fff;
    background-color: #00bdd5;
    border: solid 1px #00bdd5;
}
.item-bid-calculation{
    padding-top: 1rem;
    padding-bottom: .5rem;
}
.item-bid-calculation .calculation{
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #474747;
    margin-bottom: .5rem;
}
.font-f6{
    color: #ff6100 !important;
}
.font-bold{
    font-size:1.7rem;
}