<div>
    <!--头部-->
    <div class="of-header gray">
        <a class="header-back" href="javascript:history.go(-1)"></a>
        <!--<a class="header-back" href="#/main"></a>-->
        关于橘花分期
    </div>

    <div class="h-40"></div>

    <div class="of-register-form-check">
        <div>
            <div style="width:20%;float:left;">简介</div>
            <div style="width:75%;margin-left:2%;float:left">
                橘花分期成立于2015年6月，是南京橘子星球网络科技有限公司旗下一款专注于大学生分期消费的金融服务平台。
                目前业务范围已经覆盖江苏省、上海市的大多数学校，为几百万大学生提供分期购物业务。
                橘花已经与中国电信、凤凰传媒、顺丰等知名供货商、配送商达成战略合作关系，为用户提供正品低价的商品以及便捷快速的配送服务。
                与此同时我们会在近期推出兼职任务平台，让学生在获取经济利益的同时，丰富大学生活，积累社会经验。并且我们会为信用记录良好的大学生创业团队提供创业基金的支持。
            </div>
        </div>
        <div>
            <div style="width:20%;float:left;">理念</div>
            <div style="width:75%;margin-left:2%;float:left">
                尊重每一个有梦想的人,不管你的梦想有多么的遥远。
            </div>
        </div>
        <div>
            <div style="width:20%;float:left;">口号</div>
            <div style="width:75%;margin-left:2%;float:left">
                年轻的你,注定和橘子有关
            </div>
        </div>
        <div>
            <div style="width:20%;float:left;">社会责任观</div>
            <div style="width:75%;margin-left:2%;float:left">
                希望通过我们自己对梦想的执着与追求，让更多的年轻人能够受到感染，加入到追梦的舞台上来

            </div>
        </div>

    </div>
</div>