<div class="of-header gray">
    <a class="header-back" href="javascript:history.back()"></a>
    信用认证
</div>
<div class="h-40"></div>
<div class="user-credit-limit">
    <span>可用额度(元)</span>
    <p>{{creditInfo.userCredit.currentCredit}}</p>
    <h4>信用额度(元)</h4>
    <i>{{creditInfo.userCredit.totalCredit}}</i>
</div>
<div class="user-credit-info" ng-show="!verifyActive(creditInfo.status.value)">完善信息即可获取<span>{{creditInfo.userCredit.totalCredit}}</span>元额度</div>
<div style="margin-top:15px;" ng-show="creditInfo.authenticate">&nbsp;</div>
<a href="/registerInfo">
    <div class="of-button user-credit-button">立即完善</div>
</a>
