<div>
    <!--头部-->
    <div class="of-header gray">
        <a class="header-back" href="/main"></a>
        <!--<a class="header-back" href="#/main"></a>-->
        个人资料
    </div>

    <div class="h-40"></div>

    <!--个人档案-->
    <div class="u-info">
        <ul class="info-items-list">
            <li class="item-list-each">
                <div>姓名：</div>
                <div>小宋</div>
            </li>
            <li class="item-list-each">
                <div>手机号码：</div>
                <div>13814529475</div>
            </li>
            <li class="item-list-each">
                <div>身份证号码：</div>
                <div>320125199207120711</div>
            </li>
            <li class="item-list-each">
                <div>学校：</div>
                <div>清华大学</div>
            </li>
        </ul>
        <div class="detail-address">
            <div>详细地址：</div>
            <div>啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊</div>
        </div>
    </div>
</div>
