<!--头部-->
<div class="of-header gray">
    <a class="header-back" href="javascript:history.back()"></a>
    账号设置
</div>

<!--个人信息-->
<div class="setAccountHead clear-float">
    <span style="font-size:15px;">头像</span>
    <div class="arrow-right-select set-Head-Style"></div>
    <img class="avator "src="/images/user_center/my_head.png" style="float:right;margin-right:20px;">
</div>


<div class="split-line"></div>
<div class="settings-list">修改密码<a href="#/user/modifypwd" class="arrow-right-select"></a></div>
<div class="settings-list" style="border-bottom: 1px solid #e6e6e6;">信用认证 <a href="#/user/credit" class="arrow-right-select"></a></div>

