
<div id="settingFilter" style="display: none">
    <div class="of-login-bottom">
        <p class="hint">感谢您对橘花的支持，欢迎下次光临^_^</p>
        <p class="identified">退出登录</p>
        <div class="split-line"></div>
        <p class="cancel">取消</p>
    </div>
</div>
<div class="of-header gray ">
    <a class="header-back" href="javascript:history.back()"></a>
    <a class="header-back-info" href="javascript:history.back()">我的</a>
    设置
</div>

<div class="split-line"></div>
<div class="settings-list">账号设置<a href="javascript:" class="arrow-right-select"></a></div>
<div class="split-line1"></div>
<div class="settings-list">意见反馈 <a href="javascript:" class="arrow-right-select"></a></div>
<div class="settings-list">检查更新 <a href="javascript:" class="arrow-right-select"></a></div>
<div class="settings-list">清除缓存 <a href="javascript:" class="arrow-right-select"></a></div>
<div class="settings-list">关于我们 <a href="javascript:" class="arrow-right-select"></a></div>
<div id="logoutButton"class="of-button settings-button">登出账户</div>