<div>
    <!--头部-->
    <div class="of-header gray">
        <a class="header-back" href="javascript:history.go(-1)"></a>
        <!--<a class="header-back" href="#/main"></a>-->
        常见问题
    </div>

    <div class="h-40"></div>

    <div class="of-register-form-check">
        <div>
            <h1>1.在橘花办理分期需要什么办理手续？</h1>
            <p>通过手机号注册成功后完善相应的身份信息即可获得相应额度，首次下单后我们的工作人员会跟您联系进行信用审核认证,您需要提前准备好相关证件的原件。</p>
        </div>
        <div>
            <h1>2.你们有哪些合作网站吗？</h1>
            <p>目前所有的商品全部来自运营商自营正规渠道，保证行货正品。所有的商品都可在品牌的网站上查询真伪</p>
        </div>
        <div>
            <h1>3.注册账号手机号能否变更？</h1>
            <p>可以，当前需要变更的话需要联系客服处理，后期会在应用中提供此类功能用于自助修改</p>
        </div>
        <div>
            <h1>4.是线上审核还是线下审核？为什么？</h1>
            <p>第一次购物是线下审核签约，工作人员会和下单者约定时间地点当面审核，审核通过之后签订纸质合同，后面再次购物在前面还款没有逾期的情况下，即可使用电签流程</p>
        </div>
        <div>
            <h1>5.审核需要准备哪些资料？</h1>
            <p>身份证、录取通知书、学生证、学信网账号、校园卡、紧急联系人其中的两项以上的材料</p>
        </div>
        <div>
            <h1>6.什么是学籍信息，学信网信息</h1>
            <p>学籍是指一个学生属于某学校的一种法律上的身份或者资格，学信网是教育部指定的学历查询唯一网站。学信网网址：http://www.chsi.com.cn/</p>
        </div>
        <div>
            <h1>7.会不会出现审核失败的情况？</h1>
            <p>会的。审核人员会对您填写信息完整性、提供资料真实性、网络信用状况，结合商品库存状态、收货地址等因素进行资质审核，如未能通过，很抱歉则不能为您提供相应的分期服务。</p>
        </div>
        <div>
            <h1>8、	审核成功多久能拿到购买的商品？
                </h1>
            <p>审核成功后，我们会第一时间用顺丰直接发货，正常会在2-5个工作日内收到商品。后面会上线自提功能</p>
        </div>
        <div>
            <h1>9、	分期购物的分期期数可以自己选择吗？</h1>
            <p>可以选择，但不同商品的可分期总数是不一样的</p>
        </div>
        <div>
            <h1>10、	假期可以申请分期购物吗？怎么申请？</h1>
            <p>如果是老客户是可以申请分期的，直接把变更收货地址就可以了，新客户的话根据情况而定</p>
        </div>
        <div>
            <h1>11、	要付首付吗？付的话占商品标价的几成？</h1>
            <p>可以首付，不同商品的可首付比例不同</p>
        </div>
        <div>
            <h1>12、	服务费和分期的利息是怎么计算的？</h1>
            <p>服务费根据不同分期数不同，具体可查看商品价格；分期后在正常还款的情况下是不产生利息的，但逾期会产生利息</p>
        </div>
        <div>
            <h1>13、	商品货源是哪里的？质量有没有保障？
                </h1>
            <p>商品货源有中国电信提供，保证行货正品，享受正常的三包政策</p>
        </div>
        <div>
            <h1>14、	有没有正规发票？</h1>
            <p>所有商品均可提供正规发票，如需发票请联系客服提供</p>
        </div>
        <div>
            <h1>15、	是不是正品，有三包服务吗？</h1>
            <p>保证正品，享受三包服务</p>
        </div>
        <div>
            <h1>16、	已购买未收到货，商品降价怎么办？</h1>
            <p>商品的价格是随着市场的调整而不断变化的，比如有新的商品上架或者活动等等，就会有商品降价或涨价，抱歉关于价格方面目前我们暂时还无法保证不变。</p>
        </div>
        <div>
            <h1>17、	购买的商品是怎么派送的？</h1>
            <p>由顺丰直接送货上门</p>
        </div>
        <div>
            <h1>18、	如果我不方便收货，可以找人代收吗？</h1>
            <p>在收货人确认的情况下可以找他人代收，但出现问题我们不承担责任</p>
        </div>
        <div>
            <h1>19、	如果我的订单信息填错了怎么办？</h1>
            <p>请联系客服修改</p>
        </div>
        <div>
            <h1>20、	如果我想买的商品橘花上没有怎么办？
               </h1>
            <p> 前期我们只提供3C电子类的商品，如果没有请联系客服登记，我们会尽快提供</p>
        </div>
        <div>
            <h1>21、	可以逾期还款吗？
                </h1>
            <p>可以，需收取违约金，但我们不建议这么做，而且我们会在到期还款日前通过各种渠道通知您</p>
        </div>
        <div>
            <h1>
                22、	逾期还款会对我产生什么影响？
                </h1>
            <p>逾期将产生违约金（合同会约定违约金比例），同时，您的个人信用记录也将受到影响，对您在平台上的在消费和其他服务，以及对以后的购房、贷款、信用卡等与个人信用相关联的业务和活动都会产生不良影响。</p>
        </div>
        <div>
            <h1>23、	可不可以借款？
                </h1>
            <p>暂时不可以</p>
        </div>
        <div>
            <h1>24、	商品支持无理由退换吗？
                </h1>
            <p>如果是因为商品本身原因可以按照国家政策支持退换货，暂不支持个人原因的退换</p>
        </div>
        <div>
            <h1>25、	商品出现质量问题怎么办？
                </h1>
            <p>商品自收到之日起7天内出现非人为性能故障，请您将商品、发票原件、报销卡厂家授权检测点开具检测报告寄回，待确认商品存在质量问题后，15个工作日内会为您办理退、换货。</p>
        </div>
        <div>
            <h1>26、	还款支持哪几个银行的银行卡？
                </h1>
            <p>微信端暂时只支持微信支付，不支持银行卡</p>
        </div>
        <div>
            <h1>27、	还款支不支持第三方支付？
                </h1>
            <p>目前版本只支持微信支付，后面会加入银联支付和支付宝支付</p>
        </div>
        <div>
            <h1>28、	可以提前还款吗？提前还款手续费可以减免吗？
            </h1>
            <p>可以提前还款，提前还款不收手续费，但服务费还是需要支付的，并且网站会不定期推出一些减免活动，敬请关注。</p>
        </div>
        <div>
            <h1>29、	官方电话和客服电话是多少？
            </h1>
            <p>客服电话4000377295</p>
        </div>
    </div>
</div>



