/**
*注册表单部分
*/
.of-register-form{
    padding:5px ;
}

.of-check input{
    -webkit-appearance: checkbox;
    margin-left: 0;
}


.loginHint{
    margin-top:10px;
    font-size:12px;
    border:none;
    color:#515151;
    margin-left:10px;
}



#certNumber{
    width: 100px;
}
#certNum{
    width: 100px;
}
.of-register-form label{
    display: block;
    font-size: 15px;
    font-weight: 400;
    padding:12px 10px ;
    border-bottom: 1px #e6e6e6 solid;
    overflow: hidden;
    color: #000;
}
.of-register-form label input.modified{
   font-size:15px;
    padding-left:2em;
}
.of-register-button{
    border-radius:20px;
    padding:6px 8px;
    float:right;
    display:block;
    font-size:12px;
}
.of-sms-button{
    background:#A9A9A9;
    color:#fff;
    font-size:12px;
    padding:6px 5px;
}

label input{
    -webkit-appearance : none ;
    border: none;
    margin-left:24px;
    outline: none;
}
.of-register-form label select{
    float: right;
    border: none;
    color: #b5b5b5;
    text-align: right;
    width:100px;
    font-size:0.8em;
    text-overflow:ellipsis ;
    background: none;
    align-items: right;
    overflow: hidden;
    outline:none;
}
.of-register-form label span{
    margin-left: 24px;
    color: #afafaf;
}
label.no-border{
    border-bottom: none;
    font-size:12px;
    margin-top:5px;
}
input.checkbox-style{
    border:1px #000 solid;
    width:12px;
    margin-right:10px;
    border-radius: 3px;
}
/*个人信息填写页面*/
/*登陆页面*/
.of-login-forget{
    padding:15px 10px 7px 10px ;
}
.of-login-forget span{
    display: block;
    color: #949494;
    font-size:14px;
}
#quickRegister{
    float:left;
}
#forgetPWD{
    float:right
}
