<div>
    <!--头部-->
    <div class="of-header gray">
        <a class="header-back" href="javascript:history.back();"></a>
        确认订单
        <a class="header-function" href="#/main" style="color:#2d2d2d">首页</a>
    </div>

    <!--收件人信息-->
    <div class="h-40"></div>
    <div class="recive-info">
        <div class="recive-info-item">
            <p class="recive-info-left">姓名</p>
            <p class="recive-info-right">{{data.name}}</p>
        </div>
        <div class="recive-info-item">
            <p class="recive-info-left">手机号</p>
            <p class="recive-info-right">{{data.mobile}}</p>
        </div>
        <div class="recive-info-item">
            <p class="recive-info-left">地址</p>
            <p class="recive-info-right">{{data.address}}</p>
        </div>
    </div>

    <!--商品信息-->
    <div class="product-info">
        <a href="#/sale/detail/:detailId">
            <div class="order-info-no-border">
                <div class="order-img">
                    <img src="/images/order/iphone.jpg">
                </div>
                <div class="order-info-detail order-info-detail-confirm">
                    <p class="decrease-icon order-info-name"><span class="product-name">{{data.productName}}</span><em>￥{{transferPrice(data.payAmount)}}</em></p>
                    <p class="info-arg">{{data.arg}}<del>￥{{transferPrice(data.salePrice)}}</del></p>
                    <p class="info-arg">首付￥{{transferPrice(data.firstPay)}}  月供￥{{transferPrice(data.prePeriodsPay)}}×{{data.periods}}</p>
                </div>
            </div>
        </a>
    </div>

    <!--付款信息-->
    <div class="pay-info">
        <!--<div class="buy-num">-->
            <!--<span class="nums">数量 ：{{data.saleVolume}}{{data.saleUnit}}</span><span>总金额：<em class="red-font">￥{{data.payAmount}}</em></span>-->
        <!--</div>-->
        <div class="pay-info-area">
            <!--<div class="first-pay-percent pay-item">-->
                <!--<p class="pay-left-info">首付比例</p>-->
                <!--<p class="pay-right-info"><em>￥{{transferPrice(data.firstPay)}}</em>&gt;</p>-->
            <!--</div>-->
            <div class="first-pay pay-item">
                <p class="pay-left-info">首付</p>
                <p class="pay-right-info">￥{{transferPrice(data.firstPay)}}</p>
            </div>
            <div class="pay-month pay-item">
                <p class="pay-left-info">分期月数</p>
                <p class="pay-right-info"><em>{{data.periods}}个月</em></p>
            </div>
            <div class="month-num pay-item">
                <p class="pay-left-info">月供</p>
                <p class="pay-right-info"><em>￥{{transferPrice(data.prePeriodsPay)}}</em><span ng-show="data.service">（包含服务费¥{{transferPrice(data.service)}})</span></p>
            </div>
            <div class="total pay-item">
                <p class="pay-left-info">总价</p>
                <p class="pay-right-info">￥{{transferPrice(data.payAmount)}}</p>
            </div>
        </div>
    </div>

    <!--确认按钮-->
    <div class="confirm-area">
        <p class="confirm-info">由于分期月数限制，暂不支持毕业时间为<span class="confirm-tip">2017年7月</span>之前的同学申请</p>
        <em class="confirm-submit-btn" ng-click="confirmBuy(data.orderId,data.firstPay)">提交订单</em>
    </div>
</div>
