<!DOCTYPE html>
<html lang="zh-CN">
<!--
    订单详情
    build by rwson @2015-08-14
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/order/detail.css">
    <title>订单详情</title>
</head>
<body>
<!--头部-->
<div class="of-header gray">
    <a class="header-back" href="javascript:history.back();"></a>
    订单详情
    <a class="header-function" href="/">首页</a>
</div>

<!--订单详情-->
<div class="order-main">

    <!-- 创建时间-->
    <div class="order-top">
        <h4 class="order-num">订单号&nbsp;&nbsp;{{data.orderId}}</h4>
        <h4 class="create-time">交易时间&nbsp;&nbsp;{{date(data.orderId)}} </h4>
    </div>

    <!-- 订单详情-->
    <div class="order-info">
        <a href="#/sale/detail/{{data.productId}}">
            <div class="order-img">
                <img src="/images/order/iphone.jpg">
            </div>
            <div class="order-info-detail">
                <p class="decrease-icon order-info-name">{{data.productName}}</p>
                <p class="info-arg">{{data.arg}}</p>
                <div class="price">
                    <p>商品价格</p>
                    <p class="info-price">￥<span class="price-red">{{transferPrice(data.payAmount)}}</span></p>
                    <p class="info-del-price"><del>￥{{transferPrice(data.salePrice)}}</del></p>
                </div>
            </div>
        </a>
    </div>

    <!-- 付款详情-->
    <div class="pay-detail">
        <div class="info-item first-pay">
            <p class="info-name">首付</p>
            <p class="info-detail">￥{{transferPrice(data.firstPay)}}</p>
        </div>
        <div class="info-item month-pay">
            <p class="info-name">月付</p>
            <p class="info-detail">￥{{transferPrice(data.prePeriodsPay)}}×{{data.periods}}</p>
        </div>
        <div class="info-item off-price" ng-show="data.off.length > 0">
            <p class="info-name">已优惠</p>
            <p class="info-detail"><span class="first-pay-off">首付20%</span>再减200</p>
        </div>
        <div class="info-item order-state">
            <p class="info-name">订单状态</p>
            <div class="state-bar">
                <div class="state-item" ng-class="setClass(data.status,1)">
                    <i class="icon"></i>
                    <p class="text-state">审核中</p>
                </div>
                <div class="state-item" ng-class="setClass(data.status,2)">
                    <i class="icon"></i>
                    <p class="text-state">发货中</p>
                </div>
                <div class="state-item" ng-class="setClass(data.status,3)">
                    <i class="icon"></i>
                    <p class="text-state">已发货</p>
                </div>
                <div class="state-item" ng-class="setClass(data.status,4)">
                    <i class="icon"></i>
                    <p class="text-state">申请售后</p>
                </div>
            </div>
        </div>
        <div class="info-item delivery-time" ng-show="data.sendTime.length > 0">
            <p class="info-name">发货时间</p>
            <p class="info-detail">{{data.sendTime}}</p>
        </div>
        <div class="info-item recive-person">
            <p class="info-name">收货人</p>
            <p class="info-detail">{{data.name}}</p>
        </div>
        <div class="info-item address">
            <p class="info-name">收货地址</p>
            <p class="info-detail">{{data.address}}</p>
        </div>
        <div class="info-item pay-method">
            <p class="info-name">支付方式</p>
            <p class="info-detail">{{data.payMethod}}</p>
        </div>
        <div class="info-item receipt-info">
            <p class="info-name">发票信息</p>
            <p class="info-detail">{{data.ticketInfo}}</p>
        </div>
    </div>

    <div class="split-line"></div>

    <div class="re-buy">
        <a href="javascript:;" class="re-buy-btn" ng-click="reBuy(data.productId)">重新购买</a>
    </div>

</div>
</body>
</html>