<!DOCTYPE html>
<html lang="zh-CN">
<!--
    订单信息
    build by rwson @2015-08-18
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/order/info.css">
    <title>提示信息</title>
</head>
<body>
<!--头部-->
<div class="of-header gray">
    <a class="header-back" href="javascript:history.back();"></a>
    提示信息
</div>

<!--订单提示-->
<div class="order-tip">
    <p class="tip-text">订单提交成功，请耐心等待工作人员审核哦~</p>
    <p class="count" id="count">3秒后自动跳转</p>
    <a href="/" class="jump_link">如果没有自动跳转，请点击这里</a>
</div>

<script src="/js/require.js" data-main="/js/order/order_info"></script>
</body>
</html>