.lottery-page{
    background: #43b1dd;
}

.activity-logo{
    width: 100%;
}

.lottery-area{
    position: relative;
    width: 29.5rem;
    height: 29.5rem;
    margin: 1.5rem auto 0;
}

.lottery-area-item{
    width: 100%;
    height: 33.33%;
}

.lottery-item-cell{
    width: 33.33%;
    height: 100%;
    float: left;
}

.lottery-rules{
    margin: 1rem 1.3rem 2.5rem;
}

.lottery-rule-title{
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
    line-height: 2.5rem;
    padding: 0 0 0.5rem 0;
}

.lottery-rule-detail{
    font-size: 1.2rem;
    color: #fff;
    line-height: 2rem;
}

.light-icon{
    width: 33.33%;
    height: 33.33%;
    position: absolute;
    background: rgba(117, 18, 0,0.6);
    /*background: rgba(189, 214, 20, 0.6);*/
    /*box-shadow: 0 0 30px yellow;*/
    left: 0;
    top: 0;
}

.lottery-start-btn{
    background: url(../../images2/activity/start-icon.jpg) no-repeat 0 0;
    background-size: 100% 100%;
}

.prize-info-bj{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
}

.prize-text{
    width: 24rem;
    min-height: 10rem;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border-radius: 1rem;
    margin: -5rem 0 0 -12rem;
    background: rgba(0,0,0,0.6);
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: #fff;
}

.buy-now-btn{
    display: block;
    width: 10rem;
    height: 3rem;
    margin: 1.5rem auto 0;
    background: #16cd9b;
    -webkit-border-radius: 1.3rem;
    -moz-border-radius: 1.3rem;
    -ms-border-radius: 1.3rem;
    -o-border-radius: 1.3rem;
    border-radius: 1.3rem;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
}