.of-bill-bg{
    /*width:100%;*/
    /*height: 100%;*/
    /*position: fixed;*/
    background-color:#f0f0f0;
    color: #515151 ;
}
.of-bill-month{
    display: block;
    margin:0 auto;
}
.of-bill-month i{
    display: inline-table;
    vertical-align: middle;
    font-family: Arial,"华文黑体";
}
.of-bill-month img{
    display: inline-block;
    vertical-align: middle;
}
.of-bill-item-box{
    background-color: #fff;
    padding:13px 10px 14px 12px;
    border-bottom:1px #e6e6e6 solid;
    margin-bottom:15px;
}
.of-bill-item-box h1{
    font-size:15px;
    font-weight: normal;
}
.of-bill-Pay{
    background-color: #fff;
    padding:10px 10px 10px 12px;
    border-bottom:1px #e6e6e6 solid;
}
.of-bill-Pay div{
    font-size:16px;
}
.of-bill-Pay b{
    padding:1px;
    background-color: #ff4f4f;
    color:#fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.of-bill-Pay p{
    margin-top:5px;
}
.of-bill-Pay p span{
    color:#ff4f4f;
    font-size:23px;
    display: block;
    float:left;
    font-family: Arial;
}
#payBillNOW.nopaid{
    color:#fff;
    font-size:16px;
    margin-top:-4px;
    /*padding:5px 15px 4px 15px ;*/
    padding:6px 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    float:right;
    background-color: #16cd9b;
    text-align: center;
}
#payBillNOW.Paid{
    color:#fff;
    font-size:15px;
    padding:3px 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    float:right;
    background-color: #9f9f9f;
    text-align: center;
}
.of-bill-info{
    padding:2px 10px 12px 12px;
    background:#fff;
    border-bottom:1px #e6e6e6 solid;
}
.of-bill-info div {
    padding-top: 15px;
    font-size: 15px;
}
.of-bill-info div span {
    float:left
}
.of-bill-info div i {
    float:right
}
.of-bill-info div i em{
    display: inline-block;
    color:#ff4f4f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.of-bill-item-info{
    margin-top:10px;
    padding:10px;
    background-color: #f0f0f0;
}
.of-bill-item-dl{
    width:100%;
    font-size:14px;
}
.of-bill-item-dl dt{
    width:40%;
    float:left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.of-bill-item-dl dd{
    width:50%;
    float:right;
    text-align: right;
}
.of-bill-item-dl dd i{
    color:#ff4f4f;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.of-bill-item-date{
    padding:5px 0 8px 0 ;
    color: #adadad ;
    font-size:10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.of-bill-payback{
    background: #fff;
    padding:13.5px 20px 13.5px 13px;
    border-top:1px #e6e6e6 solid;
    border-bottom:1px #e6e6e6 solid;
    font-size:14px;
}
.of-bill-payback i{
    display: block;
    float: right;
    width: 8px;
    height: 15px;
    background: url(/images2/icon/icon_arrow_right.png);
    background-size: 8px 15px;
}
.of-bill-payback span{
    float:left;
    font-size: 15px;
}
/*.of-bill.html-filter{*/
    /*position:relative*/
/*}*/
.of-bill-month-list{
    background-color: #494949;
}
.of-bill-month-list-title{
    text-align:center;
    /*padding:8px;*/
    padding:20px 8px 0;
    font-size:14px;
}
.of-bill-month-list-title span{
    margin:0 16px;
    vertical-align: middle;
    font-size:17px;
    color:#fff
}
.of-bill-month-list-title span i{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.of-bill-month-list-title img:nth-of-type(2){
    vertical-align: middle;
     width:7px;
}
.of-bill-month-list-title img:nth-of-type(1){
    vertical-align: middle;
    width:7px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.bill-month-border{
    /*border-bottom: 1px #000 solid;*/
}
.of-bill-month-list-box{
    /*padding:12px;*/
    padding:20px 12px 12px 12px;
    font-size:0
}
.of-bill-month-list-box:nth-of-type(2){
    padding:0 12px 12px 12px;
}
.of-bill-month-list-box li{
    /*width:16.1%;*/
    width:16.66%;
    color:#fff;
    text-align: center;
    float: left;
}
.of-bill-month-list-box li i{
    margin:0 auto;
    display: block;
    width:47px;
    height:40px;
    /*height:27px;*/
    line-height: 40px;
    /*line-height: 27px;*/
    color:#fff;
    text-align: center;
    font-size:15px;
}
.of-bill-month-list-box li i.active{
    margin:0 auto;
    display: block;
    width:40px;
    height:40px;
    /*height:27px;*/
    line-height: 40px;
    /*line-height: 27px;*/
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    color:#fff;
    text-align: center;
    background:#16cd9b;
    font-size:15px;
}

.of-bill-month-list-box li i b{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#billMonthFilter{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1000;
    top: 49px;
}

.bill-left-infos{
    float: left;
}

#payBillNOW.nopaid{
    float: right;
    margin: 12px 0 0 0;
}

.of-bill-Pay{
    overflow: hidden;
}