.header-back{
    display:block;
    width: 9px;
    height: 16px;
    background: url(../images/icon/icon_arrow_left.png);
    background-size: 9px 16px;
    float:left;
}
.arrow-right-select{
    display:block;
    float:right;
    width: 9px;
    height: 16px;
    background: url(../images/icon/icon_arrow_right.png);
    background-size: 9px 16px;
}