<div>
    <div class="lottery-main">
        <div class="lottery-area">
            <div class="light-icon" id="light-icon"></div>
            <div class="lottery-area-item">
                <div class="lottery-item-cell tks-icon-red"></div>
                <div class="lottery-item-cell camp-9-9"></div>
                <div class="lottery-item-cell tks-icon-orange"></div>
            </div>
            <div class="lottery-area-item">
                <div class="lottery-item-cell ticket-9-9"></div>
                <div class="lottery-item-cell lottery-start-btn" ng-click="startLottery()"></div>
                <div class="lottery-item-cell ticket-99"></div>
            </div>
            <div class="lottery-area-item">
                <div class="lottery-item-cell tks-icon-orange"></div>
                <div class="lottery-item-cell ticket-119"></div>
                <div class="lottery-item-cell tks-icon-red"></div>
            </div>
        </div>
        <div class="lottery-rules">
            <h3 class="lottery-rule-title">活动规则</h3>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
        </div>
    </div>
</div>