<div>
    <!--头部-->
    <div class="of-header gray">
        <a class="header-back" href="javascript:history.go(-1)"></a>
        我的活动
        <a class="header-function" href="/user/setings" style="color: #5b5b5b">设置</a>
    </div>

    <div class="h-40"></div>
    <div class="activity-list" ng-show="listItem.length > 0">
        <ul class="prize-list">
            <li class="prize-item" ng-repeat="item in listItem" ng-class="isOutOfDate(item.expiredTime) ? 'out-of-date' : ''">
                <p class="prize-name">森林音乐节转盘抽奖</p>
                <div class="prize-info">
                    <p class=prize-info-name>中奖商品名称：</p>
                    <p class="prize-info-detail">{{item.productName}}</p>
                </div>
                <div class="prize-info">
                    <p class=prize-info-name>有效期：</p>
                    <p class="prize-info-detail dead-line">{{item.expiredTime | date : "yyyy-MM-dd"}}</p>
                </div>
                <div class="prize-info">
                    <p class=prize-info-name>价格：</p>
                    <p class="prize-info-detail">￥{{transferPrice(item.productPrice)}}</p>
                </div>
                <a href="/sale/detail{{item.productSkuId}}" class="use-now-btn">立即使用</a>
            </li>
        </ul>
    </div>
</div>
<!--订单列表为空-->
<div class="empty-order" ng-show="listItem.length < 1">
    对不起，您还没有参加任何活动哦
</div>