<div>
    <div class="lottery-main">
        <img src="/images2/activity/activity-top.jpg" class="activity-logo">
        <div class="lottery-area">
            <div class="light-icon" id="light-icon"></div>
            <div class="lottery-area-item">
                <div class="lottery-item-cell lottery-icon icon-1"></div>
                <div class="lottery-item-cell lottery-icon icon-2"></div>
                <div class="lottery-item-cell lottery-icon icon-3"></div>
            </div>
            <div class="lottery-area-item">
                <div class="lottery-item-cell lottery-icon icon-8"></div>
                <div class="lottery-item-cell lottery-start-btn" ng-click="startLottery()"></div>
                <div class="lottery-item-cell lottery-icon icon-4"></div>
            </div>
            <div class="lottery-area-item">
                <div class="lottery-item-cell lottery-icon icon-7"></div>
                <div class="lottery-item-cell lottery-icon icon-6"></div>
                <div class="lottery-item-cell lottery-icon icon-5"></div>
            </div>
        </div>
        <div class="lottery-rules">
            <h3 class="lottery-rule-title">活动规则</h3>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
            <p class="lottery-rule-detail">1.我要门票给不给,不给弄屎你</p>
        </div>
        <div class="prize-info-bj" id="prize-info-bj" ng-show="prizeInfo.length > 0">
            <div class="prize-text">
                {{prizeInfo}}
                <a class="buy-now-btn" href="javascript:;" ng-show="prized" ng-click="btnTaped()">立即购买</a>
                <a class="buy-now-btn" href="javascript:;" ng-click="reLottery()">再来一次</a>
            </div>
        </div>
    </div>
</div>