
<div class="of-header gray">
    <a class="header-back" href="javascript:history.back()"></a>
    分类
    <a class="header-function" href="#/main">首页</a>
</div>
<!--商品排序方式-->

<div class="of-category-input">
    <input placeholder="搜索您需要的商品" type="text" maxlength="20" ng-model="itemQuery">
</div>
<div class="of-category-main clear-float">
    <div class="of-category-main-nav">
        <ul id="categoryNav" class="of-category-list">
          <!--偶数就是前面"active":"disable"-->
            <li ng-repeat="itemlist in category.saleNav" ng-class="active(itemlist.id)"
                 ng-click="AjaxHttp(itemlist.id)">
                {{itemlist.value}}
            </li>
        </ul>
    </div>
    <div class="of-category-main-wrapper">
        <div class="of-category-main-poster">
            <img src="/images/ad_banner/ad_banner.png">
        </div>
        <ul class="of-category-main-item">
           <!--偶数添加"splitline"-->
            <li ng-class-odd="'splitline'" ng-class-even="''" ng-repeat="info in category.itemInfo | filter:itemQuery">
                <a href="#/sale/detail/{{info.id}}">
                <img ng-src="{{info.img}}">
                <span>{{info.title}}</span>
                <span>每个ID限购一单</span>
                </a>
            </li>
        </ul>
    </div>

</div>
<!--底部导航栏-->
<div class="of-bottom-bar" id="navigationBar">
    <div>
        <a href="#/">
            <i class="of-icon-bottom of-icon-home active"></i>
            首页
        </a>
    </div>
    <div >
        <a href="#/sale/category">
            <i class="of-icon-bottom of-icon-classify "></i>
            商品分类
        </a>
    </div>
    <div >
        <a href="#/sale/discount">
            <i class="of-icon-bottom of-icon-hot"></i>
            热卖
        </a>
    </div>
    <div>
        <a href="#/user/center">
            <i class="of-icon-bottom of-icon-person"></i>
            我的
        </a>
    </div>
    <div >
        <a href="">
            <i class="of-icon-bottom of-icon-heart "></i>
            帮助
        </a>
    </div>
</div>
<script type="text/javascript-lazy">
 <!--require(['dom_sales/category'],function(){})-->
</script>