
<div ng-class="{true:'detail-show-frame-fixedbg',false:''}[showFrame]">
    <div class="of-header gray">
    <a class="header-back" href="javascript:history.back()"></a>
    商品详情
    <!--<a class="header-function" href="javascript:;">筛选</a>-->
    <a class="header-function" href="/main">首页</a>
        </div>
    <div class="h-40"></div>
    <div class="swiper-container img-slider">

        <div class="item-detail-position">
            <div class="item-detail-banner active">
                <div class="item-detail-inner">
                    <div class="item-detail-inner1 active">
                        <span>立减</span>
                        <span class="ng-binding">300</span>
                        <!--<i>罄</i>-->
                    </div>
                </div>

            </div>
        </div>

        <div class="swiper-wrapper">
            <div class="swiper-slide" style="width: 100%; text-align: center;" ng-repeat="imgs in detailImages">
                <img ng-src="{{prefuri + imgs.smallUrl}}">
                </div>
        </div>
        <div class="swiper-pagination pagination-style">
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
            <span class="swiper-pagination-bullet"></span>
        </div>
    </div>
    <div class="split-line"></div>

    <div class="item-detail-intro">
        <h1>{{saleDetail.title}}</h1>
        <h1 class="small-font">每个ID限购一单</h1>
        <span>￥<i>{{transferPrice(saleDetail.price)}}</i></span>
    </div>
    <div class="item-detail-option-wrapper">
        <!--自定义命令区域-->
        <dl class="item-detail-option-list" ng-model="tapColor" ng-init="tapColor=0">
            <dt>{{itemColors.name}}:</dt>
            <!--第一个要加载默认样式style="border-color:#16cd9b" active-->
            <dd ng-repeat="itemColor in itemColors.items"
                ng-class="{true: 'active', false: ''}[itemColor.selected]"
                ng-click="setSelectedColor(itemColor.id)">
                {{itemColor.name}}
                <i ng-class="{true: 'active', false: ''}[itemColor.selected]">
                </i>
            </dd>
        </dl>
        <dl class="item-detail-option-list">
            <dt>{{itemShapes.name}}:</dt>
            <!--第一个要加载默认样式style="border-color:#16cd9b" active-->
            <dd ng-repeat="itemShape in itemShapes.items"
                ng-class="{true: 'active', false: ''}[itemShape.selected]"
                ng-click="setSelectedShape(itemShape.id)">
                {{itemShape.name}}
                <i ng-class="{true: 'active', false: ''}[itemShape.selected]">
                </i>
            </dd>
        </dl>
    </div>
    <div class="split-line"></div>
    <div class="item-detail-list">
        <h1 id="itemSliderNav" class="slider-active-fix-style" ng-model="tapIndex" ng-init="tapIndex=0">
            <i ng-click="setTapIndex(0)" ng-class="tapIndex==0 ? 'currentTab':''">商品详情</i>
            <i ng-click="setTapIndex(1)" ng-class="tapIndex==1 ? 'currentTab':''">规格参数</i>
            <i ng-click="setTapIndex(2)" ng-class="tapIndex==2 ? 'currentTab':''">包装清单</i>
            <div id="itemCanvasWrapper" ng-class="changeTrianlge(tapIndex)">
                <img src="/images/icon/slidetriangle.png" width="12" height="7">
            </div>
        </h1>
        <div class="item-slider-window">
            <div class="item-slider-wrapper">
                <div class="item_detail_img" ng-show="tapIndex==0">
                    <div ng-bind-html="saleDetail.detail | trustHtml"></div>
                </div>
                <div class="item-slider-param" ng-show="tapIndex==1">
                    <div class="split-line-fff"></div>
                    <div ng-bind-html="saleDetail.specs | trustHtml"></div>
                </div>
                <div class="item-slider-param" ng-show="tapIndex==2">
                    <div class="split-line-fff"></div>
                    <div ng-bind-html="saleDetail.inventory | trustHtml"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="of-bottom-button-wrapper">
        <div id="itemSaleButton" class="of-button item-sale-button" ng-show="!showFrame" ng-click="activeShowFrame(showFrame)" >立即分期</div>
    </div>

    </div>
<div id="itemMainFrame" class="of-tap-iframe" ng-show="showFrame">
    <div id="iframeTapCross" class="of-tap-iframe-cross" ng-click="activeShowFrame(showFrame)"></div>
    <div class="of-item-buy-frame-info">
        <ul>
            <li class="of-item-buy-info-left">
                <img src="/images/item_detail/iphone6.png">
            </li>
            <li class="of-item-buy-info-right">
                <!--<h1>{{saleDetail.title}}</h1>-->
                <h1 style="font-size: 18px;color: #515151;">{{saleDetail.title}}</h1>
                <span style="font-size: 13px;color: #adadad;">商品价格： ￥<i>{{transferPrice(saleDetail.price)}}</i></span>
            </li>
        </ul>
    </div>
    <div class="of-item-buy-installation">
        <div class="of-item-buy-installation-detail clear-float">
            <h1>首付金额</h1>
            <input type="tel" maxlength="5" ng-model="firstTimePay" ng-change="calculate(finalMonth,firstTimePay)">
            <span>元</span>
        </div>
        <div class="of-item-buy-installation-detail clear-float">
            <h1>分期月数</h1>
            <div class="select-area">
                <div class="hide-select">
                    <select ng-model="finalMonth" ng-change="calculate(finalMonth,firstTimePay)">
                        <option ng-repeat="month in monthSelector(saleDetail.minMonth,saleDetail.maxMonth)" value="{{month}}">{{month}}个月</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="of-item-buy-installation-hint">若您的毕业时间早于2017年12月11日请减少分期数</div>
        <div class="of-item-buy-installation-list clear-float">
            <div class="of-item-buy-installation-list-detail">
                <h1>每期 </h1><i>￥</i><b ng-bind="calculateMoney"></b><span>×</span><em ng-bind="finalMonth"></em>
            </div>
            <div class="of-item-buy-installation-button" ng-click="buyNow()">
                立即购买
            </div>
        </div>
    </div>
</div>
<!--背景遮罩层-->
<div class="of-item-buy-iframe" id="itemBuyIframe" ng-show="showFrame" ng-click="activeShowFrame(showFrame)"></div>
</div>

