
<div style="line-height: 20px;" class="of-header gray">
    <a class="header-back" href="#/main"></a>
    限时特卖
    <a class="of-header-search-gray" href="#/sale/search"></a>
</div>
<!--商品排序方式-->
<div class="h-40"></div>
<div class="hot-sale-main">
    <!--商品单元-->
    <div ng-repeat="salelist in discountList ">
        <a href="#/sale/detail/{{salelist.itemID}}">
            <div class="item-sale-list clear-float">
              <!--class状态有两个"active":"soldout"-->
                <div class="split-line-item"></div>
                <div class="item-list-img">
                    <div class="item-discount-position">
                        <div class="item-discount-banner active">
                            <div class="item-discount-inner">
                                <div class="item-discount-inner1 active" >
                                    <span>立减</span>
                                    <span>{{salelist.discount.firstTime}}</span>
                                    <!--<i>罄</i>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="/images/mobile_demo.png"  width="35px">
                    <div class="discount-item-timeLeft">
                        <p>仅剩<span>{{salelist.numLeft}}</span>台</p>
                        <!--<img src="/images/icon/icon-clock.png" width="8px;">-->
                        倒计时1天15:18:30
                    </div>
                </div>
                <div class="item-hot-list-detail">
                    <h1>{{salelist.itemInfo |  cut:true:40:' ...'}}</h1>
                    <p class="item-price color-51">￥{{transferPrice(salelist.itemPrice)}}&nbsp;&nbsp;&nbsp;<i>￥{{transferPrice(salelist.itemOldPrice)}}</i></p>
                    <div class="total-price">
                        <i>￥{{salelist.itemInstallation}}</i>
                        <h2 class="color-51">×</h2><span class="color-51">{{salelist.itemCycle}}期</span>
                        <a href="" class="item-hot-sale">热卖</a>
                        <a href="" class="item-new-sale">新品</a>
                    </div>
                    <div class="discount-item-detail clear-float">
                        <div class="discount-first-buy">
                            <div class="index-icons">
                                <i>首</i>
                                <span class="line-contents">首单<span>立减{{salelist.discount.firstTime}}元</span></span>
                            </div>
                            <div class="split-line-item1"></div>
                            <div class="decrease-icons">
                                <i>减</i>
                                <span class="line-contents">首付{{salelist.discount.payOncePercent[0]}}%<span>再减{{salelist.discount.payOncePercent[1]}}元</span></span>
                            </div>
                        </div>
                           <!--抢完与否对应的class"active":"disabled""我要抢 ":"已抢完 "-->
                            <div class="discount-installment-buy <%-classChooser%>">
                                我要抢<img src="/images/icon/button_arrow_right.png" width="5">
                            </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="split-line"></div>
    </div>
    </div>
<!--底部导航栏-->
<div ng-include="'/views/header_bottom/bottom.html'"></div>
<!--滑动广告-->

<div ng-include="'/views/header_bottom/bottom.html'"></div>

