<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>商品详情页面</title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/sale_item/hot_sale.css"/>
    <link rel="stylesheet" href="/stylesheets/swiper.min.css">
    <title>手机特卖</title>
</head>
<body>
<div class="of-header gray">
    <a class="header-back" href="javascript:history.back()"></a>
    手机
    <a class="header-function" href="javascript:;">筛选</a>
</div>
<!--商品排序方式-->
<div class="hot-sale-main">
    <div class="sale-item-title clear-float">
        <div class="sale-sort-option sale-sort-border" style="color: #ee4136;">
            默认排序
        </div>
        <div class="sale-sort-option sale-sort-border">
            销量排序
        </div>
        <div class="sale-sort-option ">
            价格
        </div>
    </div>
<!--商品列表-->
    <a href="/sale/detail">
        <div class="item-sale-list clear-float">
            <div class="item-list-img">
                <img src="/images/mobile_demo.png"  width="35px"style="margin-right:5px;">
            </div>
            <div class="item-hot-list-detail">
                <h1>苹果（Apple）iPhone 6 (A1586)金色 16GB 每个ID限购一单</h1>
                <p class="item-price">售价：￥4,788.00</p>
                <div class="total-price">
                    <i>￥220.94</i>
                    <h2>×</h2><span>24期</span>
                    <a href="" class="item-hot-sale">热卖</a>
                    <a href="" class="item-new-sale">新品</a>
                </div>
            </div>
        </div>
    </a>
    <a href="/sale/detail">
        <div class="item-sale-list clear-float">
            <div class="item-list-img">
                <img src="/images/mobile_demo.png"  width="35px"style="margin-right:5px;">
            </div>
            <div class="item-hot-list-detail">
                <h1>苹果（Apple）iPhone 6 (A1586)金色 16GB 每个ID限购一单</h1>
                <p class="item-price">售价：￥4,788.00</p>
                <div class="total-price">
                    <i>￥220.94</i>
                    <h2>×</h2><span>24期</span>
                    <a href="" class="item-hot-sale">热卖</a>
                    <a href="" class="item-new-sale">新品</a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="item-sale-list clear-float">
            <div class="item-list-img">
                <img src="/images/mobile_demo.png"  width="35px">
            </div>
            <div class="item-hot-list-detail">
                <h1>苹果（Apple）iPhone 6 (A1586)金色 16GB 每个ID限购一单</h1>
                <p class="item-price">售价：￥4,788.00</p>
                <div class="total-price">
                    <i>￥220.94</i>
                    <h2>×</h2><span>24期</span>
                    <a href="" class="item-hot-sale">热卖</a>
                    <a href="" class="item-new-sale">新品</a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="item-sale-list clear-float">
            <div class="item-list-img">
                <img src="/images/mobile_demo.png"  width="35px"style="margin-right:5px;">
            </div>
            <div class="item-hot-list-detail">
                <h1>苹果（Apple）iPhone 6 (A1586)金色 16GB 每个ID限购一单</h1>
                <p class="item-price">售价：￥4,788.00</p>
                <div class="total-price">
                    <i>￥220.94</i>
                    <h2>×</h2><span>24期</span>
                    <a href="" class="item-hot-sale">热卖</a>
                    <a href="" class="item-new-sale">新品</a>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="item-sale-list clear-float">
            <div class="item-list-img">
                <img src="/images/mobile_demo.png"  width="35px" style="margin-right:5px;">
            </div>
            <div class="item-hot-list-detail">
                <h1>苹果（Apple）iPhone 6 (A1586)金色 16GB 每个ID限购一单</h1>
                <p class="item-price">售价：￥4,788.00</p>
                <div class="total-price">
                    <i>￥220.94</i>
                    <h2>×</h2><span>24期</span>
                    <a href="" class="item-hot-sale">热卖</a>
                    <a href="" class="item-new-sale">新品</a>
                </div>
            </div>
        </div>
    </a>
</div>
</body>
</html>