
<div class="of-header gray">
    <a class="header-back" href="javascript:history.back()"></a>
    {{title}}
    <a class="header-function" href="javascript:;">筛选</a>
</div>
<!--商品排序方式-->
<div class="hot-sale-main">
    <div class="sale-item-title clear-float">
        <div class="sale-sort-option sale-sort-border"
             ng-model="default" ng-init="default='default'"ng-click="changeFilter(default)">
            默认排序
        </div>
        <div class="sale-sort-option sale-sort-border"
             ng-model="saleOrder" ng-init="saleOrder='sale'"ng-click="changeFilter(saleOrder)">
            销量排序
        </div>
        <div class="sale-sort-option "
             ng-model="priceOrder" ng-init="priceOrder='price'"ng-click="changeFilter(priceOrder)">
            价格
        </div>
    </div>
<!--商品列表-->

        <div class="item-sale-list clear-float" ng-repeat="sale in saleList">
            <a href="#/sale/detail/{{sale.id}}">
            <div class="item-list-img">
                <img ng-src="{{prefuri+sale.thumb.bigUrl}}" width="55px"style="margin-right:5px;">
            </div>
            <div class="item-hot-list-detail">
                <h1>{{sale.title}}</h1>
                <p class="item-price">售价：￥{{transferPrice(sale.price)}}</p>
                <div class="total-price">
                    <i>￥{{transferPrice(sale.pricePerMonth)}}</i>
                    <h2>×</h2><span>{{sale.month}}期</span>
                    <a href="" class="item-hot-sale"
                       style="color:{{sale.tags[0].attrs.color}};
                        border-color:{{sale.tags[0].attrs.color}}">{{sale.tags[0].value}}</a>
                    <a href="" class="item-new-sale"
                       style="color:{{sale.tags[1].attrs.color}};
                        border-color:{{sale.tags[1].attrs.color}}">{{sale.tags[1].value}}</a>
                </div>
            </div>
            </a>
        </div>
</div>
