 <div ng-show="nosearch">
     <div class="of-header gray">
         <a class="header-back" href="javascript:history.back()"></a>
         搜索
         <a class="header-function" href="/main">首页</a>
         <!--<a class="header-function" href="#/main">首页</a>-->
     </div>
     <div class="h-40"></div>
     <div>
         <form class='of-category-input'>
             <input placeholder="搜索您需要的商品"  type="text" maxlength="20"
                    ng-model="keyword" ng-focus="noDataDetection=false;">
             <b class="search-icon" ng-click="searchProductFUnc(keyword)"></b>
             <b class="cancel-icon" ng-show="keyword.length > 0" ng-click="cancelSearch()"></b>
         </form>
     </div>
 </div>

 <div ng-include="'/views/sale/searchResult.html'"></div>

<div class="empty-sale" ng-show="noDataDetection"></div>
