
<div class="of-header gray" ng-show="searchFinished">
    <a class="header-back" href="javascript:history.back()"></a>
    搜索
    <a class="header-function" href="#/main">首页</a>
</div>
<!--商品排序方式-->

<div ng-class="{true: 'of-search-header',false: ''}[!searchFinished]">
    <a class="header-back-search" href="javascript:history.back()" ng-show="!searchFinished"></a>
    <a class="header-function-search" href="#/main" ng-show="!searchFinished">首页</a>
    <form ng-class="{true: 'of-category-input-active',false: 'of-category-input'}[!searchFinished]">
        <input placeholder="搜索您需要的商品"  type="text" maxlength="20" ng-model="itemQuery" ng-focus="searchFinished=true">
        <b src="/images/icon/search_main_icon.png" ng-click="searchProduct(itemQuery)"></b>
    </form>
</div>



<!--商品排序方式-->
<div class="hot-sale-main" ng-show="!searchFinished" >
    <div class="sale-item-title clear-float">
        <div class="sale-sort-option sale-sort-border"
             ng-model="default" ng-init="default='default'"ng-click="changeFilter(default)">
            默认排序
        </div>
        <div class="sale-sort-option sale-sort-border"
             ng-model="saleOrder" ng-init="saleOrder='sale'"ng-click="changeFilter(saleOrder)">
            销量排序
        </div>
        <div class="sale-sort-option "
             ng-model="priceOrder" ng-init="priceOrder='price'"ng-click="changeFilter(priceOrder)">
            价格
        </div>
    </div>
    <!--商品列表-->

    <div class="item-sale-list clear-float">
        <a href="#/sale/detail/11">
            <div class="item-list-img">
                <img ng-src="/images/logo.png" width="35px"style="margin-right:5px;">
            </div>
            <div class="item-hot-list-detail">
                <h1>test</h1>
                <p class="item-price">售价：￥100.00</p>
                <div class="total-price">
                    <i>￥12</i>
                    <h2>×</h2><span>12期</span>
                    <a href="" class="item-hot-sale">热卖</a>
                    <a href="" class="item-new-sale">新品</a>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="empty-sale" ng-show="true">

</div>
