
<div id="userCheckID" ng-show="!showPwd">
    <div class="of-header gray">
        <a class="header-back" href="javascript:history.back()"></a>
        验证身份
    </div>
    <form class="of-register-form" id="registerForm"  name="validateForm" action="" method="post">
        <label>
            手机号 <input  id="telephone" name="telephone" placeholder="请输入手机号码" ng-model="dataCollection.mobile" ng-change="checkMobile(dataCollection.mobile)"/>
        </label>
        <label style="line-height: 27px;">
            验证码
            <input  id="certNum" type="tel" name="code" placeholder="请输入验证码" ng-model="dataCollection.code"/>
            <input class="of-button of-register-button" style="margin-left:0;" id="certNumTap" ng-click="getCode()" type="button" value="发送验证码"/>
        </label>
        <label class="input-err" ng-show="telHint.length > 1" style="border: none;padding-bottom: 0;">
            {{telHint}}
        </label>
        <label class=" no-border">
            <div class="of-button of-button-bar" ng-click="showPwdArea()">
                下一步
            </div>
        </label>
    </form>
</div>

<div id="userNewPWD" ng-model="showPwd"  ng-show="showPwd">
    <div class="of-header gray">
        <a class="header-back" href="javascript:" ng-click="hidePwdArea()"></a>
        请输入新密码
    </div>
    <form class="of-forget-pwd"  action="" method="">
        <label>
            <input type="password" name="telephone" placeholder="请输入新密码" ng-model="dataCollection.password"/>
        </label>
        <label >
            <input type="password" name="code" placeholder="请再输入一次"
                   ng-model="passwordRepeat"
                   ng-change="checkPassword(passwordRepeat,dataCollection.password)" />
        </label>
        <div ng-bind="passwordHint" class="passwordHint"></div>
        <label class="no-border">
            <div class="of-button of-button-bar" id="newPWDdoneTAP"  ng-click="checkNextMove()">完成</div>
        </label>

    </form>
</div>

