
<div ng-show="!infoComplete">
    <div class="of-header gray clear-float">
        <a class="header-back" href="javascript:history.back()"></a>
        个人信息填写
    </div>

    <div class="h-40"></div>
    <form class="of-register-form" action="" method="">
        <label>
            姓名 <input type="text" class="modified" placeholder="请输入真实姓名" ng-model="completeData.userName">
        </label>
        <label>
            身份证号
            <input  type="tel" placeholder="请输入证件号" ng-model="completeData.idNo" ng-focus="idTip=''"/>
        </label>
        <label>
            省份
            <span class="arrow-right-select-register"></span>
            <select id="userProvince" ng-model="selectedProvince" ng-change="setCity(selectedProvince)" ng-focus="idTip=''">
                <option ng-repeat="option in completeData.province" value="{{option.id}}">{{option.value}}</option>
            </select>
        </label>
        <label>
            城市
            <span class="arrow-right-select-register"></span>
            <select id="userCity" ng-model="selectedCity" ng-change="setSchool(selectedCity)" ng-focus="idTip=''">
                <option ng-repeat="option in completeData.city" value="{{option.id}}">{{option.value}}</option>
            </select>
        </label>
        <label>
            学校
            <span class="arrow-right-select-register"></span>
            <select id="userUniversity" ng-model="selectedSchool" ng-focus="idTip=''">
                <option ng-repeat="option in completeData.school" value="{{option.id}}">{{option.value}}</option>
            </select>
        </label>
        <label>
            校区
            <input type="text" placeholder="请输入校区" ng-model="selectedCampus" ng-focus="idTip=''"/>
        </label>
        <label>
            年级
            <span class="arrow-right-select-register"></span>
            <select  ng-model="selectedLevel" ng-focus="idTip=''">
                <option value="大一">大一</option>
                <option value="大二">大二</option>
                <option value="大三">大三</option>
                <option value="大四">大四</option>
                <option value="研一">研一</option>
                <option value="研二">研二</option>
                <option value="研三">研三</option>
                <option value="博一">博一</option>
                <option value="博二">博二</option>
            </select><!--校区部分还没有写上去-->
        </label>
        <label>
            宿舍 <input type="text" placeholder="请填写您所在的宿舍楼号" ng-model="selectedRoom" ng-focus="idTip=''">
        </label>
    </form>
    <div ng-show="idTip.length > 0" class=" no-border">
        {{idTip}}
    </div>
    <div class="of-button user-credit-button" ng-click="nextStep()" style="margin-top:10px;">完成</div>
</div>


<div class="info-hint-style" ng-bind="infoHint" ng-show="hintStatus"></div>
