<div class="of-header gray clear-float reg-log">
    <a class="header-back" href="javascript:history.back()"></a>
   个人信息填写
</div>

<div class="h-40"></div>
<div style="padding-bottom:20px;">
    <form class="of-register-form" action="" method="">
        <label>
            姓名 <input type="text" class="modified" placeholder="请输入真实姓名" ng-model="completeData.userName">
        </label>
        <label>
            身份证号
            <input  type="text" placeholder="请输入证件号" class="userId"
                    ng-model="completeData.idNo" ng-focus="idTip=''"/>
        </label>
        <label>
            省份
            <div class="select-area">
                <div class="hide-select"> </div>
                    <select id="userProvince" ng-model="selectedProvince" ng-change="setCity(selectedProvince)" ng-focus="idTip=''"  dir="rtl">
                        <option value="">请选择省份</option>
                        <option ng-repeat="option in completeData.province" value="{{option.id}}">{{option.value}}</option>
                    </select>
            </div>

        </label>
        <label>
            城市
            <div class="select-area">
                <div class="hide-select"> </div>
            <select id="userCity" ng-model="selectedCity" ng-change="setSchool(selectedCity)" ng-focus="idTip=''" dir="rtl">
                <option value="">请选择城市</option>
                <option ng-repeat="option in completeData.city" value="{{option.id}}">{{option.value}}</option>
            </select>
                </div>
        </label>
        <label>
            学校
            <div class="select-area">
                <div class="hide-select"></div>
            <select id="userUniversity" ng-model="selectedSchool" ng-focus="idTip=''"   dir="rtl">
                <option value="">请选择学校</option>
                <option ng-repeat="option in completeData.school" value="{{option.id}}">{{option.value}}</option>
            </select>

                </div>
        </label>
        <label>
            校区
            <input type="text" placeholder="请输入校区" ng-model="selectedCampus" class="modified" ng-focus="idTip=''"/>
        </label>
        <label>
            年级
            <!--<span class="arrow-right-select-register"></span>-->
            <div class="select-area">
                <div class="hide-select"></div>
            <select  ng-model="selectedLevel" ng-focus="idTip=''"   dir="rtl">
                <option value="">请选择年级</option>
                <option value="大一">大一</option>
                <option value="大二">大二</option>
                <option value="大三">大三</option>
                <option value="大四">大四</option>
                <option value="研一">研一</option>
                <option value="研二">研二</option>
                <option value="研三">研三</option>
                <option value="博一">博一</option>
                <option value="博二">博二</option>
            </select>
                </div>
        </label>
        <label>
            宿舍 <input type="text" placeholder="请填写宿舍楼号" style="display: inline-block;width: 70%;" class="modified" ng-model="selectedRoom" ng-focus="idTip=''">
        </label>

        <label>
            <span class="common-input-left">邀请码</span>
            <input  style="margin-left:20px;display: inline-block" type="text" placeholder="请输入邀请码(选填)" ng-model="invitedCode"/>
        </label>
    </form>
    <div class="of-button user-credit-button" ng-click="nextStep()" style="margin-top:30px;">完成</div>
</div>


<div class="info-hint-style" ng-bind="regInfoHint" ng-show="regInfoHint.length>0"></div>
