<div class="of-header gray">
    <!--<a class="header-back" href="javascript:history.back()"></a>-->
    <a class="header-back" href="/#/user/center"></a>
    登录橘花
</div>
<div class="h-40"></div>
<form class="of-register-form" action="" method="post">
    <label>
        <span class="common-input-left">手机号</span>
        <input  id="loginPhoneNumber" type="tel" placeholder="请输入11位数手机号码" ng-model="loginName" ng-focus="checkVaildHint=''"/>
    </label>
    <label>
        <span class="common-input-left">密码</span>
        <input type="password" placeholder="请输入密码" ng-model="loginPassword" ng-focus="checkVaildHint=''"/>
    </label>

</form>
    <div class="loginHint common-hint-tips">{{checkVaildHint}}</div>
    <div class=" no-border">
        <div class="of-button of-button-bar" style="margin-top: 30px;" id="loginSubmit" ng-click="userLogin(loginName,loginPassword)">登录</div>
    </div>
<div class="of-login-forget">
    <a href="#/register"><span id="quickRegister">快速注册</span></a>
    <a href="#/forgetpwd"><span id="forgetPWD">忘记密码？</span></a>
</div>

<div class="log-hint-style" ng-bind="infoHint" ng-show="infoHint.length>0"></div>


