

    <div class="of-header gray">
        <a class="header-back" href="javascript:history.back()"></a>
    注册新用户
    </div>

    <form class="of-register-form" id="registerForm" action="" method="post">
        <label>
           手机号 <input  id="phoneNumber" type="tel" name="telephone" placeholder="请输入手机号码" ng-model="telephone">
        </label>


        <label >
            验证码
            <input  id="certNumber" type="tel" name="code" placeholder="请输入验证码" ng-model="code" />
            <div class="of-button of-register-button" id="sendCert" ng-click="sendsms(telephone)">
                发送验证码
            </div>
        </label>

        <label>
            密码
            <input id="password" type="password" name="password" placeholder="请输入密码" ng-model="password">
        </label>

        <label>
            确认密码<input id="passwordRepeat" type="password" placeholder="请重复刚才设置的密码" ng-model="repeatPassword"/>
        </label>

       <label class="of-check no-border" ng-model="verified" ng-init="verified=false">
           <input class="checkbox-style" id="registerCheckbox" type="checkbox" ng-click="checkbox(verified)">我已阅读并同意<a href="">《橘花协议》</a>
       </label>
        <label class=" no-border">
            <div class="of-button of-button-bar" id="regSubmit" ng-click="register(telephone,password,code)">注册</div>
        </label>

    </form>
