
<div ng-show="!ofProtocal">
<div class="of-header gray reg-log clear-float">
    <a class="header-back" href="javascript:history.back()"></a>
    注册新用户
</div>
<div class="h-40"></div>
<form class="of-register-form" id="registerForm" action="" method="post">
    <label>
        <span class="common-input-left">手机号</span>
        <input id="phoneNumber" type="tel" name="telephone" placeholder="请输入手机号码" ng-model="telephone" ng-focus="checkVaildHint=''">
    </label>
    <label>
        <span class="common-input-left">验证码</span>
        <input id="certNumber" type="tel" name="code" placeholder="请输入验证码" ng-model="code"/>
        <b ng-class="{true:'of-button of-register-button',false:'of-sms-button of-register-button'}[countTime<=0]"
           id="sendCert" ng-click="sendsms(telephone)">
            {{registerSmsHint}}
        </b>
    </label>

    <label>
        <span class="common-input-left">密码</span>
        <input id="password" type="password" name="password" placeholder="请输入6-16位数字或字母" ng-model="password">
    </label>

    <label>
        <span class="common-input-left">确认密码</span>
        <input id="passwordRepeat" type="password" placeholder="请重复刚才设置的密码" ng-model="passwordRepeat"
                   ng-change="checkPassword(password,passwordRepeat)"/>
    </label>

    <label class="of-check no-border">
        <span class="checkbox-confirm">
            <input class="checkbox-style" id="registerCheckbox" type="checkbox"
                   ng-model="verified" ng-init="verified = true">
            <p></p>
        </span>
        我已阅读并同意<b ng-click="registerChange()"><u>《橘花协议》</u></b>
        <!--我已阅读并同意<a href="#/of_protocal"><u>《橘花协议》</u></a>-->
    </label>
</form>
<div style="margin-left:10px;" class="common-hint-tips">{{checkVaildHint}}</div>

<div class="of-button of-button-bar" id="regSubmit" style="margin: 18px auto 10px;" ng-click="registerSubmit(telephone,password,code,verified)">注册</div>

    <div ng-bind="submitHint" ng-show="submitHint.length>1" class="commonHint-style"></div>
</div>



<div ng-include="'/views/reg_login/of_protocal.html'" ng-controller="registerCtrl" ng-show="ofProtocal"  ></div>




