body,p,ul,li,h1,h2,h3,h4,h5,h6,b,input,option,dl,dd,dt,i,em,b{
    font-style: normal;
    border:0;
    margin:0;
    padding:0;
    list-style: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-size:100%;
    background: none;
    font-weight: normal;
    outline:none
}
body {
    min-width: 320px;
    margin:0;
}
a, a:hover, a:active, a:visited{
    text-decoration: none;
    color:inherit;
}
.fl{float:left}
.fr{float:right}
.mg-top{
    margin-top:20px;
}
.inline-block {
    display: inline-block;
}
.clear-float{}
.clear-float:after{
    content:"";
    height:0;
    display: block;
    clear:both;
}
*{
    box-sizing:border-box;
}
::-webkit-input-placeholder {
    font-size:1em;
    color: #a9a9a9;
    padding-top: 0.1em;
}
.full-width{
    width:100%;
}
@media  only screen and (min-width: 1200px) {
    html{
        font-size:16px;
    }
}
@media only screen and (max-width: 960px) {
    html{
        font-size:14px;
    }
}
@media only screen and (max-width: 640px) {
    html{
        font-size:12px;
    }
}
@media only screen and (max-width: 460px) {
    html{
        font-size:10px;
    }
}
