.settings-list{
    padding:15px 10px;
    text-indent:10px;
    background-color: #fff;
    font-size:16px;
    border-bottom: 1px solid #e9e9e9;
}
.settings-button{
    margin:20px 10px 0 10px;
    font-size:16px;
    padding:6px;
    border-radius:30px;
}
.settings{
    height:100%;
    width:100%;
    background: #e9e9e9;
}