<body style="background: #f0f0f0;">
<!--头部-->
<div class="of-bill-bg">
    <div id="billHeaderHeight" class="of-header gray">
        <a class="header-back" href="javascript:history.back()"></a>
        <span id="billMonth" class="of-bill-month" ng-click="toggleShow()">
            <i>{{month}}月账单</i>
            <img src="/images/icon/triangle.png" width="12px">
        </span>
    </div>
    <!--还款金额-->
    <div class="h-40"></div>
    <div class="of-bill-Pay">
        <div class="bill-left-infos">
            <div>本期金额(元)<b ng-if="data.due">逾</b></div>
            <p class="clear-float">
                <span>{{transferPrice(data.repayment)}}</span>
                <!--真实渲染的时候根据状态加载paid样式-->
            </p>
        </div>
        <i id="payBillNOW" data-status="" class="nopaid btn-family">去还款</i>
    </div>
    <!--账单信息-->
    <div class="of-bill-info">
        <div class="clear-float">
            <span>账单日</span>
            <i>{{data.dueAt | date:"yyyy-MM-dd"}}</i>
        </div>
        <div class="clear-float">
            <span>到期还款日</span>
            <i>{{data.dueAt | date:"yyyy-MM-dd"}}</i>
        </div>
    </div>
    <!--商品信息-->
    <div class="of-bill-item-box">
        <h1>商品名称</h1>
        <div class="of-bill-item-info" ng-repeat="item in data.productRepayments">
            <dl class="of-bill-item-dl clear-float">
                <dt>{{item.name}}</dt>
                <dd><i>{{transferPrice(item.repayment)}}</i><b>(含服务费)</b></dd>
            </dl>
            <div class="of-bill-item-date">
                <span>2015-9-9</span>
                <i>09:18:25</i>
            </div>
            <dl class="of-bill-item-dl clear-float">
                <dt>逾期费用</dt>
                <dd><i>{{transferPrice(item.dueRepayment)}}</i></dd>
            </dl>
        </div>
    </div>
    <!--还款记录-->
    <!--div class="of-bill-payback clear-float">
        <span>还款记录</span>
        <i></i>
    </div-->
    <!--还款计划-->
    <div class="of-bill-payback clear-float">
        <a href="/bill/plain">
        <!--<a href="#/bill/plain">-->
            <span>还款计划</span>
            <i></i>
        </a>
    </div>
</div>
<!--月份遮罩层-->
<div id="billMonthFilter" ng-show="handle">
    <div class="of-bill-month-list">
        <div class="of-bill-month-list-title bill-month-border">
            <img src="/images/icon/icon_arrow_right.png" ng-click="lastMonth()">
            <span>
                <i>{{year}}</i>年
            </span>
            <img src="/images/icon/icon_arrow_right.png" ng-click="nextMonth()">
        </div>
        <ul class="of-bill-month-list-box bill-month-border clear-float">
            <li ng-repeat="item in [1,2,3,4,5,6]" ng-click="rendNewInfo(item)">
                <i ng-class="active(item)">
                    <b>{{item}}月</b>
                </i>
            </li>
        </ul>
        <ul class="of-bill-month-list-box bill-month-border clear-float">
            <li ng-repeat="item in [7,8,9,10,11,12]" ng-click="rendNewInfo(item)">
                <i ng-class="active(item)">
                    <b>{{item}}月</b>
                </i>
            </li>
        </ul>
    </div>
</div>
</body>