<!--头部-->
<div class="of-bill-bg">
    <div id="billHeaderHeight" class="of-header gray">
        <a class="header-back" href="javascript:history.back()"></a>
        <span id="billMonth" class="of-bill-month">
            还款记录
        </span>
    </div>

    <div class="h-40"></div>
    <div class="history">
        <ul class="history-item">
            <li class="history-item-each">
                <p class="item-date">2015.9.9<span>09:35:20</span></p>
                <p class="item-money">￥256.25</p>
            </li>
            <li class="history-item-each">
                <p class="item-date">2015.9.9<span>09:35:20</span></p>
                <p class="item-money">￥256.25</p>
            </li>
            <li class="history-item-each">
                <p class="item-date">2015.9.9<span>09:35:20</span></p>
                <p class="item-money">￥256.25</p>
            </li>
            <li class="history-item-each">
                <p class="item-date">2015.9.9<span>09:35:20</span></p>
                <p class="item-money">￥256.25</p>
            </li>
        </ul>
    </div>
</div>