<!--头部-->
<div class="of-bill-bg">
    <div id="billHeaderHeight" class="of-header gray">
        <a class="header-back" href="javascript:history.back()"></a>
        <span id="billMonth" class="of-bill-month">
            还款计划
        </span>
    </div>
    <div class="bill-tip mt-40">
        <p class="bill-totals">总计{{data.month}}期</p>

        <p class="bill-money">总金额￥{{transferPrice(data.totalRepayment)}}</p>
    </div>
    <div class="plain-list">
        <ul class="bill-list-item">
            <li class="item-each" ng-repeat="item in data.repayments">
                <div class="bill-info-detail clear-float">
                    <div style="width:50%;float:left">
                    <p class="bill-num" ng-bind="$index + 1"></p>
                    <p class="bill-riches">￥{{transferPrice(item.repayment)}}</p>
                        </div>
                    <div style="width:50%;float:right">
                    <p class="bill-date">{{item.day | date:"yyyy-MM-dd"}}</p>
                    <p class="bill-status" ng-class="backClass(item.repaid)">{{getState(item.repaid)}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>