<div class="of-bottom-bar" id="navigationBar" ng-controller="BottomController" >
    <div>
        <a href="#/main">
            <i class="of-icon-bottom of-icon-home" ng-class="addActive()"></i>
            首页
        </a>
    </div>
    <div >
        <a href="#/sale/category">
            <i class="of-icon-bottom of-icon-classify" ng-class="addActive()"></i>
            商品分类
        </a>
    </div>
    <div >
        <a href="#/sale/discount">
            <i class="of-icon-bottom of-icon-hot" ng-class="addActive()"></i>
            热卖
        </a>
    </div>
    <div>
        <a href="#/user/center">
            <i class="of-icon-bottom of-icon-person" ng-class="addActive()"></i>
            我的
        </a>
    </div>
    <div >
        <a href="#/main">
            <i class="of-icon-bottom of-icon-heart" ng-class="addActive()"></i>
            帮助
        </a>
    </div>
</div>