<div class="of-bottom-bar" id="navigationBar" ng-controller="BottomController" >
    <div>
        <a href="/main" class="bottom-icon" ng-class="addActive('main')">
        <!--<a href="#/main" class="bottom-icon" ng-class="addActive('main')">-->
            <i class="of-icon-bottom of-icon-home"></i>
            <i class="of-icon-bottom of-icon-home-on"></i>
            首页
        </a>
    </div>
    <div >
        <a href="/sale/category" class="bottom-icon" ng-class="addActive('category')">
        <!--<a href="#/sale/category" class="bottom-icon" ng-class="addActive('category')">-->
            <i class="of-icon-bottom of-icon-classify"></i>
            <i class="of-icon-bottom of-icon-classify-on"></i>
            分类
        </a>
    </div>
    <div >
        <a href="/sale/discount" class="bottom-icon" ng-class="addActive('discount')">
        <!--<a href="#/sale/discount" class="bottom-icon" ng-class="addActive('discount')">-->
            <i class="of-icon-bottom of-icon-hot"></i>
            <i class="of-icon-bottom of-icon-hot-on"></i>
            热卖
        </a>
    </div>
    <div>
        <a  class="bottom-icon" ng-class="addActive('center')"  ng-click="jumpToCenter(true)">

        <!--<a href="#/user/center" class="bottom-icon" ng-class="addActive('center')">-->
            <i class="of-icon-bottom of-icon-person"></i>
            <i class="of-icon-bottom of-icon-person-on"></i>
            我的
        </a>
    </div>
    <div >
        <a href="/main" class="bottom-icon" ng-class="addActive('help')">
        <!--<a href="#/main" class="bottom-icon" ng-class="addActive('help')">-->
            <i class="of-icon-bottom of-icon-heart"></i>
            <i class="of-icon-bottom of-icon-heart-on"></i>
            帮助
        </a>
    </div>
</div>