<div class="of-bottom-bar" id="navigationBar">
    <div>
        <a href="#/main">
            <i class="of-icon-bottom of-icon-home active"></i>
            首页
        </a>
    </div>
    <div >
        <a href="#/sale/category">
            <i class="of-icon-bottom of-icon-classify "></i>
            商品分类
        </a>
    </div>
    <div >
        <a href="#/sale/discount">
            <i class="of-icon-bottom of-icon-hot"></i>
            热卖
        </a>
    </div>
    <div>
        <a href="#/user/center">
            <i class="of-icon-bottom of-icon-person"></i>
            我的
        </a>
    </div>
    <div >
        <a href="#/main">
            <i class="of-icon-bottom of-icon-heart "></i>
            帮助
        </a>
    </div>
</div>