.user-credit{
    height:100%;
    background-color:#fff
}
.user-credit-limit{
    text-align: center;
    padding:30px 0 40px 0 ;
    background-color: #15c690;
    color:#fff
}
.user-credit-limit i{
    margin-top:10px;
    display: block;
    font-style: normal;
    font-size:26px;
}
.user-credit-limit p{
    font-size:45px;
    margin:12px 0;
}
.user-credit-limit span{
    font-size:15px;
}
.user-credit-limit h4{
    font-size:12px;
    margin-bottom:5px;
}
.user-credit-info{
    text-align: center;
    margin:18px 0 8px 0;
    font-size:16px;
    color: #515151;
}
.user-credit-info span{
    color:#ff5959
}
.user-credit-button{
    padding:11px 10px;
    margin:10px;
    font-size:18px;
    border-radius: 30px;
}

.id-tips{
    padding: 10px 0 0 10px;
    font-size: 14px;
}